<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.dlyAffrRpt">
    <resultMap id="clobMap" type="cMap">
        <result property="DRFT_ID" column="DRFT_ID" />
        <result property="DRFT_DT" column="DRFT_DT" />
        <!--      <result property="AFFR_SBC" javaType="java.lang.String" jdbcType="CLOB" column="AFFR_SBC" />-->
    </resultMap>
    <select id="selectList" parameterType="map" resultMap="clobMap">

        <include refid="paging.head" /> <!-- 페이징 처리시 필수 -->
        SELECT
        DRFT_ID,
        F_USERNM (NVL(A.DRFT_ID,A.DRFT_ID)) DRFT_NM,
        DRFT_DT,
        PROJ_NO,
        (SELECT PROJ_NM FROM PROJECT_MASTER WHERE PROJ_NO = A.PROJ_NO)PROJ_NM,
        DBMS_LOB.SUBSTR(AFFR_SBC,2000,1) AFFR_SBC,--AFFR_SBC,
        DBMS_LOB.SUBSTR(NXT_AFFR_SBC,2000,1) NXT_AFFR_SBC,
        F_USERNM (NVL(A.FIN_UPDR_ID,A.VBG_CRE_USER_ID)) FIN_USER_NM,
        F_MAINT_DT_INFO(NVL(FIN_MDFY_DT,VBG_CRE_DT)) FIN_MAINT_INFO
        FROM DLYAFFR_RPT A
        WHERE 1=1
        <if test="drft_id != '' and drft_id != null">
            AND DRFT_ID = #{drft_id}
        </if>
        <if test="affr_sbc != '' and affr_sbc != null">
            AND AFFR_SBC like '%'||#{affr_sbc}||'%'
        </if>
        AND DRFT_DT BETWEEN  REPLACE(#{strt_dt},'-') AND REPLACE(#{fnh_dt},'-')

        ORDER BY DRFT_DT DESC, DRFT_NM

        <include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
    </select>
    <insert id="deleteList" parameterType="map" >
        DECLARE
        USER_EXCEPTION EXCEPTION;
        V_ERR_MSG VARCHAR(2000);

        BEGIN

        DELETE FROM DLYAFFR_RPT
        WHERE DRFT_ID = #{drft_id}
        AND DRFT_DT = REPLACE(#{drft_dt},'-')
        ;

        END;

    </insert>
</mapper>