<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.dytmAffrRpt">

    <select id="selectList" parameterType="map" resultType="cMap">
	    <include refid="paging.head" /> <!-- 페이징 처리시 필수 -->
	    
	        SELECT
				PROJ_NO,
				(SELECT PROJ_NM FROM PROJECT_MASTER WHERE PROJ_NO = A.PROJ_NO)PROJ_NM,
				TITLE,
				DYTM_STRT_DT,
				DRFT_DT,
				PPRR_ID,
				REM,
				FIN_UPDR_ID,
			    (SELECT USER_NAME FROM SYS_USER WHERE USER_ID = A.FIN_UPDR_ID) FIN_UPDR_NM,
			    TO_CHAR(FIN_MDFY_DT,'yyyy-mm-dd hh24:mi:ss') fin_mdfy_dt,
				F_GETWEEK(DRFT_DT) GET_WEEK
			FROM DYAFFR_RPT A
			WHERE PROJ_NO = #{map.proj_no}
			AND DRFT_DT BETWEEN TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.strt_dt},'-'),1,8),'YYYYMMDD'),'YYYYMMDD') AND TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.fnh_dt},'-'),1,8),'YYYYMMDD'),'YYYYMMDD')
	        ORDER BY DRFT_DT DESC
	        		
		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
    </select>
    <insert id="deleteList" parameterType="map" >
		DECLARE
		USER_EXCEPTION EXCEPTION;
		V_ERR_MSG VARCHAR(2000);

		BEGIN

			DELETE FROM DYAFFR_RPT
			WHERE PROJ_NO = #{proj_no}
			AND DYTM_STRT_DT = #{dytm_strt_dt};

			DELETE FROM PROJRISK
			WHERE PROJ_NO = #{proj_no}
			AND DYTM_STRT_DT = #{dytm_strt_dt};

		END;

	</insert>
</mapper>