<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.pms03">

    <select id="selectList" parameterType="map" resultType="cMap">
	    <include refid="paging.head" /> <!-- 페이징 처리시 필수 -->
	    
	        select
				affr_no,
				proj_no,
				(select proj_nm from taprjm where proj_no = a.proj_no)proj_nm,
				title,
				st_dt,
				fn_dt,
				wr_dt,
				writer,
				rem,
			    upd_user_id,
			    (select user_name from SYS_USER where user_id = a.upd_user_id) upd_user_nm,
			    to_char(upd_dtm,'yyyy-mm-dd hh24:mi:ss') upd_dtm
			from twkafm a
			where proj_no = #{map.proj_no}
	        order by wr_dt desc
	        		
		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
    </select>

    <insert id="deleteList" parameterType="map" >
		DECLARE
		USER_EXCEPTION EXCEPTION;
		V_ERR_MSG VARCHAR(2000);
		V_DOC_NO VARCHAR(20);

		BEGIN

			delete from twkafm
			where affr_no = #{affr_no};

			delete from taafrk
			where affr_no = #{affr_no};

		END;

	</insert>
</mapper>