<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.pms05_riskPop">

	<select id="selectList" parameterType="map" resultType="cMap">
		<include refid="paging.head" /> <!-- 페이징 처리시 필수 -->

		select
		a.*

		from tarkis
		where rkis_no = #{rkis_no}
<!--		<if test="map.user_name != '' and map.user_name != null">-->
<!--			and upper(user_name) like upper('%' || #{map.user_name} || '%')-->
<!--		</if>-->
<!--		<if test="map.rbof_id != '' and map.rbof_id != null">-->
<!--			and rbof_id = #{map.rbof_id}-->
<!--		</if>-->

		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
	</select>

	<delete id="deleteList" parameterType="map">
		delete from tarkis
		where rkis_no = #{rkis_no}
	</delete>

</mapper>