<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.pms05RiskPop">

	<select id="selectList" parameterType="map" resultType="cMap">
		<include refid="paging.head" /> <!-- 페이징 처리시 필수 -->

		select
		a.*

		from tarkis
		where rkis_no = #{rkisNo}
<!--		<if test="map.user_name != '' and map.user_name != null">-->
<!--			and upper(user_name) like upper('%' || #{map.user_name} || '%')-->
<!--		</if>-->
<!--		<if test="map.rbof_id != '' and map.rbof_id != null">-->
<!--			and rbof_id = #{map.rbof_id}-->
<!--		</if>-->

		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
	</select>

	<insert id="maint2List" parameterType="map" >
		{call
			declare
			begin
				merge into tarkis
				using dual
					on (rkis_no = #{rkis_no})
				when matched then
				update set
					  acdn_title = #{acdn_title}
					, scn = #{scn}
					, proj_no = #{proj_no}
					, prry_rnkg = #{prry_rnkg}
					, area = #{area}
					, dcrm_lev = #{dcrm_lev}
					, pgs_st = #{pgs_st}
					, dcrm_dt = to_char(to_date(substr(replace(#{dcrm_dt},'-'),1,8),'yyyymmdd')+1,'yyyymmdd')
					, occu_prob = #{occu_prob}
					, iflu_deg = #{iflu_deg}
					, rsk_deg = #{rsk_deg}
					, acdn_sbc = #{acdn_sbc}
					, ctms = #{ctms}
					, crgr = #{crgr}
					, parr_dt = to_char(to_date(substr(replace(#{parr_dt},'-'),1,8),'yyyymmdd')+1,'yyyymmdd')
					, pvnt_pln = #{pvnt_pln}
					, trtm_dt = to_char(to_date(substr(replace(#{trtm_dt},'-'),1,8),'yyyymmdd')+1,'yyyymmdd')
					, trtm_manh = #{trtm_manh}
					, upd_user_id = #{_loginId_}
					, upd_dtm = systimestamp
				when not matched then
				insert(
					rkis_no, acdn_title, scn, proj_no, rsk_id, prry_rnkg,
					area, dcrm_lev, pgs_st, occu_prob, iflu_deg, rsk_deg,
					acdn_sbc, ctms, crgr, pvnt_pln, trtm_manh,
					dcrm_dt, parr_dt, trtm_dt,
					cre_user_id, cre_dtm, upd_user_id, upd_dtm
				)values(
					'RKIS004',#{acdn_title},#{scn},#{proj_no}, 'PJ001RSK001', #{prry_rnkg},
					#{area}, #{dcrm_lev}, #{pgs_st}, #{occu_prob}, #{iflu_deg}, #{rsk_deg},
					#{acdn_sbc}, #{ctms}, #{crgr}, #{pvnt_pln}, #{trtm_manh},
					to_char(to_date(substr(replace(#{dcrm_dt},'-'),1,8),'yyyymmdd')+1,'yyyymmdd'),
					to_char(to_date(substr(replace(#{parr_dt},'-'),1,8),'yyyymmdd')+1,'yyyymmdd'),
					to_char(to_date(substr(replace(#{trtm_dt},'-'),1,8),'yyyymmdd')+1,'yyyymmdd'),
					#{_loginId_},systimestamp,#{_loginId_},systimestamp
				);
			end
		}
	</insert>

	<delete id="deleteList" parameterType="map">
		delete from tarkis
		where rkis_no = #{rkisNo}
	</delete>

</mapper>