<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.pms05RiskPop">

	<select id="projSelectList" parameterType="map" resultType="cMap">
		<include refid="paging.head" /> <!-- 페이징 처리시 필수 -->
		SELECT
			PROJ_NO,
			PROJ_NM,
			ST_DT,
			FN_DT,
			CLIENT
		FROM TAPRJM A
		WHERE 1=1
		<if test="map.p_no != '' and map.p_no != null">
			AND PROJ_NO LIKE '%' || #{map.p_no} || '%'
		</if>
		<if test="map.p_nm != '' and map.p_nm != null">
			AND PROJ_NM LIKE '%' || #{map.p_nm} || '%'
		</if>
		ORDER BY PROJ_NO

		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
	</select>

	<insert id="maintList2" parameterType="map" >
		{CALL
			DECLARE
			BEGIN
				MERGE INTO TARKIS
				USING DUAL
					ON (RKIS_NO = #{map.rkis_no})
				WHEN MATCHED THEN
				UPDATE SET
					  ACDN_TITLE = #{map.acdn_title}
					, PROJ_NO = #{map.proj_no}
					, PRRY_RNKG = #{map.prry_rnkg}
					, AREA = #{map.area}
					, DCRM_LEV = #{map.dcrm_lev}
					, PGS_ST = #{map.pgs_st}
					, DCRM_DT = TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.dcrm_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD')
					, OCCU_PROB = #{map.occu_prob}
					, IFLU_DEG = #{map.iflu_deg}
					, RSK_DEG = #{map.rsk_deg}
					, ACDN_SBC = #{map.acdn_sbc}
					, CTMS = #{map.ctms}
					, CRGR = #{map.crgr}
					, PARR_DT = TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.parr_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD')
					, PVNT_PLN = #{map.pvnt_pln}
					, TRTM_DT = TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.trtm_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD')
					, TRTM_MANH = #{map.trtm_manh}
					, UPD_USER_ID = #{_loginid_}
					, UPD_DTM = SYSDATE
				WHEN NOT MATCHED THEN
				INSERT(
					RKIS_NO, ACDN_TITLE, SCN, PROJ_NO, RSK_ID, PRRY_RNKG,
					AREA, DCRM_LEV, PGS_ST, OCCU_PROB, IFLU_DEG, RSK_DEG,
					ACDN_SBC, CTMS, CRGR, PVNT_PLN, TRTM_MANH,
					DCRM_DT, PARR_DT, TRTM_DT,
					CRE_USER_ID, CRE_DTM, UPD_USER_ID, UPD_DTM
				)VALUES(
					#{map.rkis_no}, #{map.acdn_title}, 'R', #{map.proj_no}, #{map.rsk_id}, #{map.prry_rnkg},
					#{map.area}, #{map.dcrm_lev}, #{map.pgs_st}, #{map.occu_prob}, #{map.iflu_deg}, #{map.rsk_deg},
					#{map.acdn_sbc}, #{map.ctms}, #{map.crgr}, #{map.pvnt_pln}, #{map.trtm_manh},
					TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.dcrm_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD'),
					TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.parr_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD'),
					TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{map.trtm_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD'),
					#{_loginid_}, SYSDATE, #{_loginid_}, SYSDATE
				);
			END
		}
	</insert>

	<delete id="deleteList" parameterType="map">
		DELETE FROM TARKIS
		WHERE RKIS_NO = #{map.rkis_no}
	</delete>

</mapper>