<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.yvcMgt">

	<select id="selectList" parameterType="map" resultType="cMap">
		<include refid="paging.head" /> <!-- 페이징 처리시 필수 -->

		SELECT
		A.*,
		(A.HALF_YVC01 + A.HALF_YVC02 + A.HALF_YVC03 + A.HALF_YVC04 + A.HALF_YVC05 + A.HALF_YVC06 +
		A.HALF_YVC07 + A.HALF_YVC08 + A.HALF_YVC09 + A.HALF_YVC10 + A.HALF_YVC11 + A.HALF_YVC12) AS HALF_TOTAL,
		(A.FULL_YVC01 + A.FULL_YVC02 + A.FULL_YVC03 + A.FULL_YVC04 + A.FULL_YVC05 + A.FULL_YVC06 +
		A.FULL_YVC07 + A.FULL_YVC08 + A.FULL_YVC09 + A.FULL_YVC10 + A.FULL_YVC11 + A.FULL_YVC12) AS FULL_TOTAL
		FROM(SELECT
		USER_ID,
		USER_NAME,
		RBOF_ID,
		RBOF_NM,
		SUM(NVL(HALF_YVC01,0)) AS HALF_YVC01,
		SUM(NVL(FULL_YVC01,0)) AS FULL_YVC01,
		SUM(NVL(HALF_YVC02,0)) AS HALF_YVC02,
		SUM(NVL(FULL_YVC02,0)) AS FULL_YVC02,
		SUM(NVL(HALF_YVC03,0)) AS HALF_YVC03,
		SUM(NVL(FULL_YVC03,0)) AS FULL_YVC03,
		SUM(NVL(HALF_YVC04,0)) AS HALF_YVC04,
		SUM(NVL(FULL_YVC04,0)) AS FULL_YVC04,
		SUM(NVL(HALF_YVC05,0)) AS HALF_YVC05,
		SUM(NVL(FULL_YVC05,0)) AS FULL_YVC05,
		SUM(NVL(HALF_YVC06,0)) AS HALF_YVC06,
		SUM(NVL(FULL_YVC06,0)) AS FULL_YVC06,
		SUM(NVL(HALF_YVC07,0)) AS HALF_YVC07,
		SUM(NVL(FULL_YVC07,0)) AS FULL_YVC07,
		SUM(NVL(HALF_YVC08,0)) AS HALF_YVC08,
		SUM(NVL(FULL_YVC08,0)) AS FULL_YVC08,
		SUM(NVL(HALF_YVC09,0)) AS HALF_YVC09,
		SUM(NVL(FULL_YVC09,0)) AS FULL_YVC09,
		SUM(NVL(HALF_YVC10,0)) AS HALF_YVC10,
		SUM(NVL(FULL_YVC10,0)) AS FULL_YVC10,
		SUM(NVL(HALF_YVC11,0)) AS HALF_YVC11,
		SUM(NVL(FULL_YVC11,0)) AS FULL_YVC11,
		SUM(NVL(HALF_YVC12,0)) AS HALF_YVC12,
		SUM(NVL(FULL_YVC12,0)) AS FULL_YVC12
		FROM TAYVCM
		WHERE 1=1
		<if test="map.user_name != '' and map.user_name != null">
			AND UPPER(USER_NAME) LIKE UPPER('%' || #{map.user_name} || '%')
		</if>
		<if test="map.rbof_id != '' and map.rbof_id != null">
			AND RBOF_ID = #{map.rbof_id}
		</if>
		GROUP BY USER_ID, USER_NAME, RBOF_ID, RBOF_NM ) A
		ORDER BY RBOF_ID, USER_NAME

		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
	</select>

	<update id="maintList" parameterType="map" >
		UPDATE  TAYVCM
		SET
		HALF_YVC01 = #{half_yvc01},
		FULL_YVC01 = #{full_yvc01},
		HALF_YVC02 = #{half_yvc02},
		FULL_YVC02 = #{full_yvc02},
		HALF_YVC03 = #{half_yvc03},
		FULL_YVC03 = #{full_yvc03},
		HALF_YVC04 = #{half_yvc04},
		FULL_YVC04 = #{full_yvc04},
		HALF_YVC05 = #{half_yvc05},
		FULL_YVC05 = #{full_yvc05},
		HALF_YVC06 = #{half_yvc06},
		FULL_YVC06 = #{full_yvc06},
		HALF_YVC07 = #{half_yvc07},
		FULL_YVC07 = #{full_yvc07},
		HALF_YVC08 = #{half_yvc08},
		FULL_YVC08 = #{full_yvc08},
		HALF_YVC09 = #{half_yvc09},
		FULL_YVC09 = #{full_yvc09},
		HALF_YVC10 = #{half_yvc10},
		FULL_YVC10 = #{full_yvc10},
		HALF_YVC11 = #{half_yvc11},
		FULL_YVC11 = #{full_yvc11},
		HALF_YVC12 = #{half_yvc12},
		FULL_YVC12 = #{full_yvc12}
		WHERE USER_ID 	= #{user_id}
		AND USER_NAME = #{user_name}
	</update>

</mapper>