<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.pms.pms02">

    <select id="codeList" parameterType="map" resultType="cMap">
	    SELECT
		    PROJ_NO CODE,
		    PROJ_NM NAME
		FROM TAPRJM
		ORDER BY PROJ_NM
    </select>
    
    <select id="codeList2" parameterType="map" resultType="cMap">
	    SELECT
		    DEV_MP CODE,
		    DEV_MP NAME
		FROM TAPJMN
		WHERE PROJ_NO = #{proj_no}
		ORDER BY DEV_MP
    </select>
    
    <select id="selectList" parameterType="map" resultType="cMap">
	    <include refid="paging.head" /> <!-- 페이징 처리시 필수 -->
	    
	        SELECT
			    PROJ_NO,
			    WBS,
			    TASK,
			    REM,
			    ST_DT,
			    FN_DT,
			    IMPORTANCE,
			    DEV_MP,
			    OUPUTS,
			    PRGR_RATE,
			    UPD_USER_ID,
			    (SELECT USER_NAME FROM SYS_USER WHERE USER_ID = A.UPD_USER_ID) UPD_USER_NM,
			    TO_CHAR(UPD_DTM,'YYYY-MM-DD HH24:MI:SS') UPD_DTM
			FROM TASCMN A
			WHERE PROJ_NO = #{map.proj_no}
	        ORDER BY WBS
	        		
		<include refid="paging.bottom" /> <!-- 페이징 처리시 필수 -->
    </select>
    
    <insert id="maintList" parameterType="map" >
    {CALL
        DECLARE
        BEGIN

            MERGE INTO TASCMN
		        USING DUAL
		           ON (PROJ_NO = #{proj_no} AND WBS = #{wbs})
		        WHEN MATCHED THEN
		        UPDATE SET
		               TASK = #{task}
		             , REM = #{rem}
		             , ST_DT = TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{st_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD')
		             , FN_DT = TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{fn_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD')
		             , IMPORTANCE = #{importance}
		             , DEV_MP = #{dev_mp}
		             , OUPUTS = #{ouputs}
		             , PRGR_RATE = #{prgr_rate}
		             , UPD_USER_ID = #{_loginId_}
		             , UPD_DTM = SYSDATE
		        WHEN NOT MATCHED THEN
		            INSERT (PROJ_NO, WBS, TASK, REM,
		            		ST_DT, FN_DT,
		            		IMPORTANCE, DEV_MP, OUPUTS, PRGR_RATE,
		            		CRE_USER_ID, CRE_DTM, UPD_USER_ID, UPD_DTM)
		            values (#{proj_no},#{wbs},#{task},#{rem},
		            		TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{st_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD'),
		            		TO_CHAR(TO_DATE(SUBSTR(REPLACE(#{fn_dt},'-'),1,8),'YYYYMMDD')+1,'YYYYMMDD'),
		            		#{importance},#{dev_mp},#{ouputs},#{prgr_rate},
							#{_loginId_},SYSDATE,#{_loginId_},SYSDATE);
		    
        END
    }
    </insert>
    
    <insert id="deleteList" parameterType="map" >
        DELETE FROM TASCMN
        WHERE PROJ_NO = #{proj_no}
        AND WBS = #{wbs}
    </insert>
</mapper>