<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.system.userMgt">
    <select id="selectList" parameterType="map" resultType="cMap">
        SELECT
            USER_ID AS USERID
            ,USER_NAME AS USERNM
            ,USER_PASS AS PASS
            ,USER_EMAIL AS EMAIL
            ,USER_USE_YN AS USEYN
            ,TO_CHAR(INST_DATE,'YYYY-MM-DD') AS INDATE
            ,INST_USER AS INUSER
            ,f_pvtcol(cursor(
                        select ROLE_ID
                          from SYS_USER_ROLE B
                         where A.USER_ID = B.USER_ID
                    ),',') AUTH
            ,TO_CHAR(UPDT_DATE,'YYYY-MM-DD') AS UPDTDATE
            ,UPDT_USER AS UPDTUSER
        FROM SYS_USER A
            WHERE 1 = 1
        <if test="map.usernm != '' and map.usernm != null">
           AND A.USER_ID LIKE '%' || #{map.usernm } || '%'
        </if>

    </select>

    <select id="selectList2" parameterType="map" resultType="cMap">
        SELECT
            A.ROLE_ID code
            ,A.ROLE_NAME name
            ,#{map.pid} userid
            ,CASE WHEN B.ROLE_ID IS NOT NULL THEN 'Y'
                  ELSE 'N'
                  END AS auth
            ,TO_CHAR(B.UPDT_DATE,'YYYY-MM-DD') updtdate
            ,B.UPDT_USER updtuser
            FROM SYS_ROLE A
            LEFT OUTER JOIN SYS_USER_ROLE B
                ON B.USER_ID = #{map.pid}
                AND A.ROLE_ID = B.ROLE_ID --'USER_ID'
            WHERE A.USE_YN = 'Y'
           ORDER BY auth DESC, NAME
    </select>

    <insert id="insertList" parameterType="map" >
        insert into SYS_USER_ROLE (
                 USER_ID
                ,ROLE_ID
                ,INST_DATE
                ,INST_USER
                ,UPDT_DATE
                ,UPDT_USER
        )
            VALUES(
                 #{userid}
                ,#{code}
                ,SYSDATE
                ,'ADMIN'
                ,SYSDATE
                ,'ADMIN'
        )

    </insert>

    <insert id="maintList" parameterType="map" >
    MERGE INTO SYS_USER S
        USING DUAL
           ON (S.USER_ID = #{userid})
        WHEN MATCHED THEN
        UPDATE SET
                S.USER_NAME = #{usernm}
             ,  S.USER_PASS = #{pass}
             ,  S.USER_EMAIL = nvl(#{email},' ')
             ,  S.USER_USE_YN = #{useyn }
             , S.UPDT_DATE = SYSDATE
             , S.UPDT_USER = 'ADMIN'
        WHEN NOT MATCHED THEN
            INSERT (S.USER_ID, S.USER_NAME, S.USER_PASS, S.USER_EMAIL, S.USER_USE_YN, S.INST_DATE, S.INST_USER, S.UPDT_DATE, S.UPDT_USER)
            VALUES (#{userid},#{usernm},#{pass},#{email},#{useyn},sysdate,'ADMIN',sysdate,'ADMIN ')
    </insert>
    <insert id="deleteList" parameterType="map" >
        delete from SYS_USER_ROLE
         where user_id = #{userid}
        and ROLE_ID = #{code}
    </insert>
</mapper>