<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="bootAdmin.demo.menu">
    <select id="selectName" resultType="string">
        SELECT id
        FROM menu
        LIMIT 1
    </select>
    <select id="selectList" resultType="map">
        SELECT *
        FROM menu
    </select>
</mapper>