<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.webAdmin.security">
    <select id="selectAuthList" parameterType="map" resultType="map">
        SELECT *
        FROM SYS_URL_ROLE
        order by 1
    </select>
    <select id="selectUserList" parameterType="map" resultType="map">
        SELECT *
        FROM SYS_USER
        where USER_ID = #{USER_ID}
    </select>
    <select id="selectUserRoleList" parameterType="map" resultType="map">
         SELECT
              R.*,UR.*
          FROM SYS_ROLE  R JOIN SYS_USER_ROLE UR
            ON R.ROLE_ID=UR.ROLE_ID WHERE UR.USER_ID=#{USER_ID}
    </select>
</mapper>