<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="proj.webAdmin.user">
    <select id="selectMenuGroup" parameterType="map" resultType="cMap">
        select a.*, 'test' test_test
          from SYS_MENU a
         where pid = '0' and id > '0'
         order by sort
    </select>
    <select id="selectMenu" parameterType="map" resultType="cMap">
        select a.*, 'true' folder
          from SYS_MENU a
         where 1=1
         start with id > '0' and pid = '0'
        connect by prior id = pid
         order siblings by sort
    </select>
</mapper>