<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>도메인관리</title>
    <div th:replace="headerRGrid"></div>
    <div th:remove="all">
        <link href="/realgrid/realgrid.2.1.0/realgrid-style.css" rel="stylesheet" />
    <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>-->
        <script src="/js/jquery/jquery-3.5.1.js"></script>
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/select2.min.js"></script>
        <script src="/realgrid/realgrid.2.1.0/realgrid-lic.js"></script>
        <script src="/realgrid/realgrid.2.1.0/realgrid.2.1.0.js"></script>
        <script src="/realgrid/realgrid.2.1.0/libs/jszip.min.js"></script>
        <link href="/css/common_ui.css" rel="stylesheet" />
        <script src="/js/common/common_ui.js"></script>
        <script src="/js/common/common_transaction.js"></script>
        <script src="/js/vue/vue.js"></script>
    </div>
</head>
<script type="text/javascript">

</script>
<script>
    var fields = [
      {fieldName: "stdhannm",dataType: "data"},
      {fieldName: "stdennm",dataType: "text"},
      {fieldName: "enabbrnm",dataType: "text"},
      {fieldName: "hanexpl",dataType: "text"},
      {fieldName: "domnnm",dataType: "text"},
      {fieldName: "finmdfydt",dataType: "text"},
      {fieldName: "finupdrid",dataType: "text"},
    ];

    var columns = [
      {name: "STDHANNM", fieldName: "stdhannm", type: "data",  width: "200", header: { text: "한글 명" } ,styleName:"left-column"},
      {name: "STDENNM", fieldName: "stdennm", type: "data", width: "200", header: { text: "영문 명" } ,styleName:"left-column"},
      {name: "ENABBRNM", fieldName: "enabbrnm", type: "data", width: "200",  header: { text: "코드" } ,styleName:"left-column"},
      {name: "HANEXPL", fieldName: "hanexpl", type: "data", width: "1200", header: { text: "설명" } ,styleName:"left-column"},
      {name: "DOMNNM", fieldName: "domnnm", type: "data", width: "100", header: { text: "도메인 명" } ,styleName:"left-column"},
      {name: "FINMDFYDT", fieldName: "finmdfydt", type: "data", width: "120", header: { text: "수정일" } },
      {name: "FINUPDRID", fieldName: "finupdrid", type: "data", width: "120", header: { text: "수정자" } },
    ];

    var grid;

    var app;
    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                groupList:[],
                keys:{
                    search:'',
                    seq:'',
                    pid:'',

                    /* 페이징 처리시 필수 */
                    pagenum:1, // 현재 페이지 번호(★변수명 변경금지, 최초 값 1로 세팅)
                    pagerows:100 // 페이지당 표시할 데이터 건수(★변수명 변경금지)
                    /* 페이징 처리시 필수 */
                },
                methods:{
                }
            },
        });

        $("#goSelect").click(function(){
            grid.pagenum = 1;
            search();
        });
        $("#goSave").click(function(){
            maintList('maint');
        });
        $("#goDelete").click(function(){
            maintList('delete');
        });

        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            pagenum:1, // 현재 페이지 번호
            pagerows:100, // 페이지당 표시할 데이터 건수
            pageDiv:"#commonPaging"
        }
        createRGrid(grid);
        grid.gridView.setFixedOptions({
          colCount: 2
        });
        grid.gridView.onCellClicked = function(g, cell) {
           // cell.itemIndex
            //var row = grid.dataProvider.getJsonRow(cell.itemIndex);
            //var cd_code = grid.gridView.getValue(cell.itemIndex,"cd_code");
        };
        search();


        setResizeHeightObjs("realgrid");
        grid.gridView.refresh();
    });

    function search(){
        pid = "";
        grid.dataProvider.clearRows();
        app.keys.pagenum = grid.pagenum;

        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select","/service/system/stdMgt/selectList.do/selectList",jsonData,fn_callback);
    }

    function maintList(func,key){
        grid.gridView.commit(true);

        var searchParam = {};
        searchParam.func = func;
        var list = getCheckedRows(grid);

        if(list.length<1){
          fn_alert("자료를 선택하세요.");
          return;
        }
        var listData = {
              list: list
        };

        fn_transaction(func,"/service/system/stdMgt/maintList.do/"+func+"List",listData,fn_callback);

        return;
    }
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
            if(func == "selectGroup"){
                app.groupList = data.resultList;
            }else if(func == "select"){
                grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();
                commonPaging(grid, data.resultList[0].tcnt, search);
                /* 페이징 처리시 필수 */

            }else{
                fn_alert(data.message);
            }
        }
    }
    $(window).resize(function(){
        grid.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">도메인관리</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <colgroup>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
                <col style="width:*;"/>
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <select name="seq" id="seq" class="ui_sel w100p" v-model="keys.seq">
                        <option value="">전체</option>
                        <option value="1">한글 명</option>
                        <option value="2">영문 명</option>
                        <option value="3">설 명</option>
                        <option value="4">도메인 명</option>
                    </select>
                </td>
                <td>
                    <input id="itemnm" type="text" class="input_A w90p"  v-model="keys.search">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goSave" class="btn_typeA btn_save">저장</div>
        <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
        <div id="goExcel" class="btn_typeA btn_excel">Excel</div>
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div style=" width: 100%;">
            <div id="realgrid"  ></div>
            <!-- 페이징 처리시 필수 -->
            <div id="commonPaging" class="commonPaging" ></div>
            <!-- 페이징 처리시 필수 -->
        </div>
    </div>
</div>
</body>
</html>