<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>코드관리</title>
    <div th:replace="headerRGrid"></div>
    <div th:remove="all">
        <link href="/realgrid/realgrid.2.1.0/realgrid-style.css" rel="stylesheet" />
    <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>-->
        <script src="/js/jquery/jquery-3.5.1.js"></script>
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/select2.min.js"></script>
        <script src="/realgrid/realgrid.2.1.0/realgrid-lic.js"></script>
        <script src="/realgrid/realgrid.2.1.0/realgrid.2.1.0.js"></script>
        <script src="/realgrid/realgrid.2.1.0/libs/jszip.min.js"></script>
        <link href="/css/common_ui.css" rel="stylesheet" />
        <script src="/js/common/common_ui.js"></script>
        <script src="/js/common/common_transaction.js"></script>
        <script src="/js/vue/vue.js"></script>
    </div>
</head>
<script type="text/javascript">

</script>
<script>
    var fields = [
      {fieldName: "role_id",dataType: "text"},
      {fieldName: "role_name",dataType: "text"},
      {fieldName: "sort_sn",dataType: "text"},
      {fieldName: "url",dataType: "text"},
      {fieldName: "use_yn",dataType: "text"},
      {fieldName: "indt",dataType: "text"},
      {fieldName: "updt",dataType: "text"},
    ];

    var columns = [
      {name: "role_id", fieldName: "role_id", type: "data", width: "120", header: { text: "권한" } },
      {name: "role_name", fieldName: "role_name", type: "data", width: "200", header: { text: "권한명" } ,styleName:"left-column" },
    ];
    var columns2 = [
      {name: "role_id", fieldName: "role_id", type: "data", width: "90", header: { text: "권한" },editable: false },
      {name: "url", fieldName: "url", type: "data", width: "250", header: { text: "Url" }  ,styleName:"left-column"},
      {name: "sort_sn", fieldName: "sort_sn", type: "data", width: "80", header: { text: "순서" },"numberFormat": "#,##0" },
      {name: "use_yn", fieldName: "use_yn", type: "data", width: "100", header: { text: "사용유무" } ,
        lookupDisplay: true,"sortable": false,
        editor: {
            type: "dropdown",
            dropDownCount: 2,
            domainOnly: true,
            values: ["Y","N"],
            labels: ["사용","미사용"]
        },
      },
      {name: "indt", fieldName: "indt", type: "data", width: "100", header: { text: "입력일자" },editable: false },
      {name: "updt", fieldName: "updt", type: "data", width: "100", header: { text: "수정일자" },editable: false },
    ];

    var grid,grid2;

    var app;
    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                groupList:[],
                keys:{
                    search:'',
                    group:'*',
                },
                methods:{
                }
            },
        });

        $("#goSelect").click(function(){
            search();
        });
        $("#goSave").click(function(){
            maintList('maint');
        });
        $("#goDelete").click(function(){
            maintList('delete');
        });

        grid = {
            id:"grid",
            fields:fields,
            columns:columns,
        }
        grid2 = {
            id:"grid2",
            fields:fields,
            columns:columns2,
            pagenum:1,
            pagerows:100,
            pageDiv:"#commonPaging"
        }
        createRGrid(grid);
        grid.gridView.setStateBar({
          visible: false
        });
        grid.gridView.setCheckBar({
          visible: false
        });
        createRGrid(grid2);
        grid.gridView.onCellClicked = function(g, cell) {
            var role_id = grid.gridView.getValue(cell.itemIndex,"role_id");
            searchDetail(role_id);
        };
        search();

        //searchGroup();

        fn_codeDataSync({group:"*"},function(list){
            app.groupList = list;
        });

        setResizeHeightObjs("grid","grid2");
        grid.gridView.refresh();
        grid2.gridView.refresh();
    });

    var selected_code ;
    function search(){
        pid = "";
        grid2.gridView.commit(false);
        grid.dataProvider.clearRows();
        grid2.dataProvider.clearRows();

        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select","/service/system/urlRoleMgt/selectList.do/selectList",jsonData,fn_callback);
    }
    function searchDetail(role_id){

        if(role_id) selected_code = role_id;
        grid2.gridView.commit(false);
        grid2.dataProvider.clearRows();

        app.keys.role_id = role_id;
        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select2","/service/system/urlRoleMgt/selectList.do/selectList2",jsonData,fn_callback);
    }
    function maintList(func,key){
        grid2.gridView.commit(true);

        var searchParam = {};
        searchParam.func = func;
        var list = getCheckedRows(grid2);
        if(list.length<1){
          fn_alert("자료를 선택하세요.");
          return;
        }
        var listData = {
              list: list
        };

        fn_transaction(func,"/service/system/urlRoleMgt/maintList.do/"+func+"List",listData,fn_callback);

        return;
    }
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
            if(func == "selectGroup"){
                app.groupList = data.resultList;
            }else if(func == "select"){
                grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();
            }else if(func == "select2"){
                grid2.dataProvider.setRows(data.resultList);
                if(data.resultList.length == 0){
                    grid2.dataProvider.addRow({rold_id:selected_code});
                }
                commonPaging(grid2, grid2.data.resultList?data.resultList[0].tcnt:0, searchDetail);

                grid2.gridView.refresh();
            }else{
                fn_alert(data.message);
            }
        }
    }
    $(window).resize(function(){
        grid.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">권한별 메뉴그룹관리</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <colgroup>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:*;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="ar">권한</td>
                <td>
                    <input id="itemnm" type="text" class="input_A w90p"  v-model="keys.search">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goSave" class="btn_typeA btn_save">저장</div>
        <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div style=" width: 40%;float:left;  ">
            <div id="grid"  ></div>
        </div>
        <div style="width:10px;height:100%;background-color:#999">

        </div>
        <div style=" width: 59%;float:right;  ">
            <div id="grid2"  ></div>
            <div class="commonPaging" id="commonPaging" style="height:20px; "></div>
        </div>
    </div>
</div>
</body>
</html>