<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>사용자관리</title>
    <div th:replace="headerRGrid"></div>
    <div th:remove="all">
        <link href="/realgrid/realgrid.2.1.0/realgrid-style.css" rel="stylesheet" />
    <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>-->
        <script src="/js/jquery/jquery-3.5.1.js"></script>
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/select2.min.js"></script>
        <script src="/realgrid/realgrid.2.1.0/realgrid-lic.js"></script>
        <script src="/realgrid/realgrid.2.1.0/realgrid.2.1.0.js"></script>
        <script src="/realgrid/realgrid.2.1.0/libs/jszip.min.js"></script>
        <link href="/css/common_ui.css" rel="stylesheet" />
        <script src="/js/common/common_ui.js"></script>
        <script src="/js/common/common_transaction.js"></script>
        <script src="/js/vue/vue.js"></script>
    </div>
</head>
<script type="text/javascript">

</script>
<script>
    var fields = [
      {fieldName: "userid",dataType: "text"},
      {fieldName: "usernm",dataType: "text"},
      {fieldName: "pass",dataType: "text"},
      {fieldName: "email",dataType: "text"},
      {fieldName: "useyn",dataType: "text"},
      {fieldName: "auth",dataType: "text"},
      {fieldName: "updtdate",dataType: "text"},
      {fieldName: "updtuser",dataType: "text"},
      {fieldName: "code",dataType: "text"},
      {fieldName: "name",dataType: "text"},
    ];

    var columns = [
      {name: "userid", fieldName: "userid", type: "data", width: "90", header: { text: "사번" } },
      {name: "usernm", fieldName: "usernm", type: "data", width: "150", header: { text: "성명" } },
      {name: "pass", fieldName: "pass", type: "data", width: "80", header: { text: "비밀번호" } },
      {name: "email", fieldName: "email", type: "data", width: "200", header: { text: "E-MAIL" } },
      {name: "useyn", fieldName: "useyn", type: "data", width: "200", header: { text: "사용여부" },editable: false ,renderer:{type: "check",trueValues: 'Y',falseValues: 'N'} },
      {name: "auth", fieldName: "auth", type: "data", width: "200", header: { text: "권한" } },
      {name: "updtdate", fieldName: "updtdate", type: "data", width: "200", header: { text: "수정일" } },
      {name: "updtuser", fieldName: "updtuser", type: "data", width: "200", header: { text: "수정자" } },
    ];
    var columns1 = [
      {name: "auth", fieldName: "auth",  type: "data", width: "90", header: { text: "사용" } ,editable: false ,renderer:{type: "check",trueValues: 'Y',falseValues: 'N'}},
      {name: "name", fieldName: "name", type: "data", header: { text: "권한 명" } },
      {name: "updtdate", fieldName: "updtdate", type: "data", width: "150", header: { text: "수정일" } },
      {name: "updtuser", fieldName: "updtuser", type: "data", width: "80", header: { text: "수정자" } },
    ];

    var grid,grid2;

    var app;
    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                MenuList:['1'],
                loctList:[],
                compList:[],
                keys:{
                    search:'',
                    comp:'*',
                    loct:'',
                    group:'',
                    role:'',
                    pid:'',
                },
                roleUrl:'selectRoleList',
                methods:{
                }
            },
        });

        $("#goSelect").click(function(){
            search();
        });
        $("#goAdd").click(function(){
           grid.dataProvider.addRow(1);
        });
        $("#goSave").click(function(){
            maintList('maint');
        });
        $("#goDelete").click(function(){
            maintList('delete');
        });
        $("#goSaveRole").click(function(){
            maintRoleList('maintRole');
        });

        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            pagenum:1,
            pagerows:100,
            pageDiv:"#commonPaging"
        }
        grid2 = {
            id:"realgrid2",
            fields:fields,
            columns:columns1,
        }
        //createGrid("realgrid");
        createRGrid(grid);
        createRGrid(grid2);
        grid.gridView.onCellClicked = function(g, cell) {
            //cell.itemIndex
            //var row = grid.dataProvider.getJsonRow(cell.itemIndex);
            var id = grid.gridView.getValue(cell.itemIndex,"userid");
            searchDetail(id);
        };


        setResizeHeightObjs("realgrid","realgrid2");
        grid.gridView.refresh();
        grid2.gridView.refresh();

        fn_codeDataSync({group:"COMP"},function(list){
            app.compList = list;
        });

        search();

    });

    var pid ;

    function search(group){
        pid = "";
        grid2.gridView.commit(false);
        grid.dataProvider.clearRows();
        grid2.dataProvider.clearRows();

        app.keys.group = group;
        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select","/service/system/userMgt/selectList.do/selectList",jsonData,fn_callback);
    }
    function searchDetail(_pid){
        pid = _pid;
        grid2.gridView.commit(false);
        grid2.dataProvider.clearRows();

        app.keys.pid = pid;
        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select2","/service/system/userMgt/selectList.do/selectList2",jsonData,fn_callback);
    }
    function maintList(func,key){
        grid.gridView.commit(true);

        var list = getCheckedRows(grid);

        if(list.length<1 ){
          fn_alert("자료를 선택하세요.");
          return;
        }
        var listData = {
              list: list,
        };
        fn_transaction(func,"/service/system/userMgt/maintList.do/"+func+"List",listData,fn_callback);
        return;
    }
    function maintRoleList(func,key){
        grid2.gridView.commit(true);

        var list = getCheckedRows(grid2);
        if(list.length<1 ){
          fn_alert("권한을 선택하세요.");
          return;
        }
        debugger;
        var roles = "";
        for(var i = 0;i < list.length;i++){
            roles += list[i].code + ",";
        }
        var list2 = [{"userid":list[0].userid,"roles":roles}];

        var listData = {
              list: list2,
        };
        fn_transaction(func,"/service/system/userMgt/maintList.do/"+func+"List",listData,fn_callback);
        return;
    }
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
             if(func == "select"){
                grid.dataProvider.setRows(data.resultList);
                commonPaging(grid, data.resultList[0].tcnt, search);
                grid.gridView.refresh();
            }else if(func == "select2"){
                grid2.dataProvider.setRows(data.resultList);
                grid2.gridView.refresh();
            }else{
                grid.gridView.refresh();
                grid2.gridView.refresh();
                fn_alert(data.message);
            }
        }
    }
    $(window).resize(function(){
        grid.gridView.refresh();
        grid2.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">사용자관리</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <caption>사용자관리</caption>
            <colgroup>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:*;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="ar">회사</td>
                <td>
                    <select name="comp" id="comp" class="ui_sel w100p" v-model="keys.comp">
                        <option value="*">전체</option>
                        <option v-for="list in compList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">권한</td>
                <td>
                    <select2 id="role" class="form-control" v-model="keys.role" :url="roleUrl" :para="keys" :min="0" style="width:200px"></select2>
                </td>
                <td class="ar">사번/성명</td>
                <td>
                    <input id="usernm" type="text" class="input_A w90p"  v-model="keys.search4">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goAdd" class="btn_typeA btn_save">사용자 추가</div>
        <div id="goSave" class="btn_typeA btn_save">저장</div>
        <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
        <div id="goSaveRole" class="btn_typeA btn_delete">권한저장</div>
        <div id="goExcel" class="btn_typeA btn_excel">Excel</div>
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div style=" width: 70%;float:left;  ">
            <div id="realgrid"  ></div>
            <div id="commonPaging" class="commonPaging" ></div>
        </div>
        <div style=" width: 29%;float:right;  ">
            <div id="realgrid2"  ></div>
            <div class="commonPaging" id="commonPaging2" style="height:20px; "></div>
        </div>
    </div>
</div>
</body>
</html>