<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>연차 관리</title>
    <div th:replace="headerRGrid"></div>
</head>
<script>
    var fields = [
      {fieldName: "usernm",dataType: "text"},
      {fieldName: "rbof",dataType: "text"},

      {fieldName: "half_yvc01",dataType: "number"},
      {fieldName: "half_yvc02",dataType: "number"},
      {fieldName: "half_yvc03",dataType: "number"},
      {fieldName: "half_yvc04",dataType: "number"},
      {fieldName: "half_yvc05",dataType: "number"},
      {fieldName: "half_yvc06",dataType: "number"},
      {fieldName: "half_yvc07",dataType: "number"},
      {fieldName: "half_yvc08",dataType: "number"},
      {fieldName: "half_yvc09",dataType: "number"},
      {fieldName: "half_yvc10",dataType: "number"},
      {fieldName: "half_yvc11",dataType: "number"},
      {fieldName: "half_yvc12",dataType: "number"},

      {fieldName: "yvc01",dataType: "number"},
      {fieldName: "yvc02",dataType: "number"},
      {fieldName: "yvc03",dataType: "number"},
      {fieldName: "yvc04",dataType: "number"},
      {fieldName: "yvc05",dataType: "number"},
      {fieldName: "yvc06",dataType: "number"},
      {fieldName: "yvc07",dataType: "number"},
      {fieldName: "yvc08",dataType: "number"},
      {fieldName: "yvc09",dataType: "number"},
      {fieldName: "yvc10",dataType: "number"},
      {fieldName: "yvc11",dataType: "number"},
      {fieldName: "yvc12",dataType: "number"},

      {fieldName: "half_total",dataType: "number"},
      {fieldName: "yvc_total",dataType: "number"}
    ];

    var columns = [
      {name: "usernm", fieldName: "usernm", type: "data", width: "150", header: "사원명" editable: false },
      {name: "rbof", fieldName: "rbof", type: "data", width: "200", header: "직책" editable: false },

      {name: "half_yvc01", fieldName: "half_yvc01", type: "data", width: "50", header: "반차" },
      {name: "half_yvc02", fieldName: "half_yvc02", type: "data", width: "50", header: "반차" },
      {name: "half_yvc03", fieldName: "half_yvc03", type: "data", width: "50", header: "반차" },
      {name: "half_yvc04", fieldName: "half_yvc04", type: "data", width: "50", header: "반차" },
      {name: "half_yvc05", fieldName: "half_yvc05", type: "data", width: "50", header: "반차" },
      {name: "half_yvc06", fieldName: "half_yvc06", type: "data", width: "50", header: "반차" },
      {name: "half_yvc07", fieldName: "half_yvc07", type: "data", width: "50", header: "반차" },
      {name: "half_yvc08", fieldName: "half_yvc08", type: "data", width: "50", header: "반차" },
      {name: "half_yvc09", fieldName: "half_yvc09", type: "data", width: "50", header: "반차" },
      {name: "half_yvc10", fieldName: "half_yvc10", type: "data", width: "50", header: "반차" },
      {name: "half_yvc11", fieldName: "half_yvc11", type: "data", width: "50", header: "반차" },
      {name: "half_yvc12", fieldName: "half_yvc12", type: "data", width: "50", header: "반차" },

      {name: "yvc01", fieldName: "yvc01", type: "data", width: "50", header: "연차" },
      {name: "yvc02", fieldName: "yvc02", type: "data", width: "50", header: "연차" },
      {name: "yvc03", fieldName: "yvc03", type: "data", width: "50", header: "연차" },
      {name: "yvc04", fieldName: "yvc04", type: "data", width: "50", header: "연차" },
      {name: "yvc05", fieldName: "yvc05", type: "data", width: "50", header: "연차" },
      {name: "yvc06", fieldName: "yvc06", type: "data", width: "50", header: "연차" },
      {name: "yvc07", fieldName: "yvc07", type: "data", width: "50", header: "연차" },
      {name: "yvc08", fieldName: "yvc08", type: "data", width: "50", header: "연차" },
      {name: "yvc09", fieldName: "yvc09", type: "data", width: "50", header: "연차" },
      {name: "yvc10", fieldName: "yvc10", type: "data", width: "50", header: "연차" },
      {name: "yvc11", fieldName: "yvc11", type: "data", width: "50", header: "연차" },
      {name: "yvc12", fieldName: "yvc12", type: "data", width: "50", header: "연차" },

      {name: "half_total", fieldName: "half_total", type: "data", width: "50", header: "반차" },
      {name: "yvc_total", fieldName: "yvc_total", type: "data", width: "50", header: "연차" }
    ];

    <!-- 레이아웃 헤더(헤더 병합) -->
    var layout1 = [
        "usernm", "rbof",
        {name: "month01", direction: "horizontal", items: ["half_yvc01","yvc01"], header: "1월"},
        {name: "month02", direction: "horizontal", items: ["half_yvc02","yvc02"], header: "2월"},
        {name: "month03", direction: "horizontal", items: ["half_yvc03","yvc03"], header: "3월"},
        {name: "month04", direction: "horizontal", items: ["half_yvc04","yvc04"], header: "4월"},
        {name: "month05", direction: "horizontal", items: ["half_yvc05","yvc05"], header: "5월"},
        {name: "month06", direction: "horizontal", items: ["half_yvc06","yvc06"], header: "6월"},
        {name: "month07", direction: "horizontal", items: ["half_yvc07","yvc07"], header: "7월"},
        {name: "month08", direction: "horizontal", items: ["half_yvc08","yvc08"], header: "8월"},
        {name: "month09", direction: "horizontal", items: ["half_yvc09","yvc09"], header: "9월"},
        {name: "month10", direction: "horizontal", items: ["half_yvc10","yvc10"], header: "10월"},
        {name: "month11", direction: "horizontal", items: ["half_yvc11","yvc11"], header: "11월"},
        {name: "month12", direction: "horizontal", items: ["half_yvc12","yvc12"], header: "12월"},
        {name: "total", direction: "horizontal", items: ["half_total","yvc_total"], header: "계"}
    ];

    var grid;

    var app;
    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                keys:{
                	usernm:'',
                	rbof:''
                },
                methods:{
                }
            },
        });

        $("#goSelect").click(function(){
        	app.keys.pagenum = 1; // 조회버튼 클릭시 현재페이지 1로 초기화

        	search();
        });
        $("#goSave").click(function(){
            maintList('maint');
        });
        $("#goExcel").click(function(){
        	grid.gridView.exportGrid({
			    type: "excel",
			    target: "local",
			    fileName: "연차 관리.xlsx",
			    showProgress: true,
			    progressMessage: "엑셀 Export중입니다.",
			    indicator: 'visible',
			    header: 'visible',
			    footer: 'visible',
			    compatibility: true,
			    done: function () {  //내보내기 완료 후 실행되는 함수
			        // alert("done excel export")
			    }
			});
        });

        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            layout1:layout1,
            pagenum:1, // 현재 페이지 번호
            pagerows:100, // 페이지당 표시할 데이터 건수
        }

        createRGrid(grid);

        grid.gridView.onCellClicked = function(g, cell) {
            <!--var proj_no = grid.gridView.getValue(cell.itemIndex,"proj_no");-->
        };

        search();

        setResizeHeightObjs("realgrid");
        grid.gridView.refresh();
    });

    function search(){
        grid.dataProvider.clearRows();
        app.keys.pagenum = grid.pagenum;

        var jsonData = {
                map: app.keys,
        };

        <!--fn_transaction("select","/service/pms/pms01/selectList.do/selectList",jsonData,fn_callback);-->
    }
    function maintList(func,key){
        grid.gridView.commit(true);

        var searchParam = {};
        searchParam.func = func;

        var list = getCheckedRows(grid);

        if(list.length < 1){
          fn_alert("자료를 선택하세요.");
          return;
        }

        if(list.length >0){
            var listData = {
                  list: list,
            };
            fn_transaction(func,"/service/pms/pms01/maintList.do/"+func+"List",listData,fn_callback);
        }
        return;
    }
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
             if(func == "select"){
                grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();

                commonPaging(grid, data.resultList[0].tcnt, search);
            }else if(func == "maint"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 저장되었습니다.');
            }else if(func == "delete"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 삭제되었습니다.');
            }else{
                grid.gridView.refresh();
                fn_alert(data.message);
            }
        }
    }
    $(window).resize(function(){
        grid.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">연차 관리</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <caption>연차 관리</caption>
            <colgroup>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="ar">사원명</td>
                <td>
                    <input id="user_nm" type="text" class="input_A w90p"  v-model="keys.user_nm">
                </td>
                <td class="ar">직책</td>
                <td>
                    <select name="seq" id="seq" class="ui_sel w100p" v-model="keys.rbof">
                        <!--<option v-for="list in groupList" :value="list.value">{{list.text}}</option>-->
                        <option value="">전체</option>
                        <option value="1">이사</option>
                        <option value="2">팀장</option>
                        <option value="3">대리</option>
                        <option value="4">사원</option>
                    </select>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goSave" class="btn_typeA btn_save">저장</div>
        <div id="goExcel" class="btn_typeA btn_excel">Excel</div>
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div id="realgrid"  ></div>
        <div id="commonPaging" class="commonPaging" ></div>
    </div>
</div>
</body>
</html>