<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<meta id="csrf_token" th:content="${_csrf}?${_csrf.token}"/>


<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/common_ui.css}"/>
<link rel="stylesheet" th:href="@{/css/common_paging.css}"/> <!-- 페이징 처리 -->
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/realgrid/realgrid.2.1.0/realgrid-style.css}"/>
<link rel="stylesheet" th:href="@{/css/realgrid.css}"/><!--realgrid-style.css 보다 나중-->

<script th:src="@{/js/jquery/jquery-3.5.1.js}"></script>
<script th:src="@{/js/jquery/jquery-ui.js}"></script>
<script th:src="@{/js/jquery/select2.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
<link rel="stylesheet" th:href="@{/css/select2.min.css}"/>

<script th:src="@{/realgrid/realgrid.2.1.0/realgrid-lic.js}"></script>
<script th:src="@{/realgrid/realgrid.2.1.0/realgrid.2.1.0.js}"></script>
<script th:src="@{/realgrid/realgrid.2.1.0/libs/jszip.min.js}"></script>

<script th:src="@{/js/common/common_ui.js}"></script>
<script th:src="@{/js/common/common_transaction.js}"></script>
<script th:src="@{/js/common/common_paging.js}"></script> <!-- 페이징 처리 -->
<script th:src="@{/js/vue/vue.js}"></script>

<script src="/js/jquery/jquery-3.5.1.js"></script>
<script src="/js/jquery/jquery-ui.js"></script>
<script src="/js/jquery/select2.min.js"></script>
<script src="/realgrid/realgrid.2.1.0/realgrid-lic.js"></script>
<script src="/realgrid/realgrid.2.1.0/realgrid.2.1.0.js"></script>
<script src="/realgrid/realgrid.2.1.0/libs/jszip.min.js"></script>

<script src="/realgrid/realgrid.2.1.0/libs/jszip.min.js"></script>


<script>

function createRGrid(_grid) {
    _grid.dataProvider = new RealGrid.LocalDataProvider();
    _grid.gridView = new RealGrid.GridView(_grid.id);
    _grid.gridView.setDataSource(_grid.dataProvider);

    _grid.dataProvider.setFields(_grid.fields);
    _grid.gridView.setColumns(_grid.columns);

    _grid.gridView.displayOptions.emptyMessage = "표시할 데이타가 없습니다.";
    _grid.gridView.header.height = 40;
    _grid.gridView.displayOptions.rowHeight = 26;
    _grid.gridView.footer.height = 28;
    _grid.gridView.stateBar.width = 16;
    _grid.gridView.editOptions.insertable = true;
    _grid.gridView.editOptions.appendable = true;
    
    _grid.gridView.onCellEdited = function (g, itemIndex, row, field) {
        console.log('Edit done! at ' + itemIndex + ', ' + field);
        _grid.gridView.checkItem(itemIndex, true);
    }
    //컨텍스트 메뉴단
    _grid.gridView.setContextMenu([
        {
            label:"행추가",
            tag :"insert"
        }
    ]);
    //컨텍스트 메뉴 클릭 이벤트
    _grid.gridView.onContextMenuItemClicked = function(grid,label,index){
        if(label.tag == "insert"){
            if(index == 0){
              // 그리드에 선택된 행이 없을경우 맨마지막에 행추가
              // 아래 화살표 기능으로 행추가 가능
                grid.beginAppendRow();
                grid.showEditor();
                grid.setFocus();
            }else{
              // 현재 선택된 그리드 상단에 행 삽입
              // insert 키로 사용가능
                grid.beginInsertRow(Math.max(0,index),true);
                grid.showEditor();
                grid.setFocus();
            }
        }
    };

    _grid.gridView.setStateBar({
      visible: false
    });
    _grid.gridView.setCheckBar({
      visible: true
    });
    _grid.gridView.setFooters({
      visible:false
    });

}
function getCheckedRows(g){
    var rows = g.gridView.getCheckedRows(true);
    var list = [];
    for(var i = 0;i<rows.length;i++){
        list.push(g.dataProvider.getJsonRows(rows[i])[0]);
    }
    //alert(JSON.stringify(list));
    return list;
}
function getCommonPara(){
    var rtn = getModelValue("param").replace(/$quot;/g,'"');
    var jsObj = $.parseJSON(rtn);
    return jsObj;
}
function getModelValue(arg){
    var rtn =  document.getElementById(arg).textContent;
    return rtn ;
}
</script>
<!-- Bootstrap 3.3.6 -->
<!--<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>-->
<!--&lt;!&ndash; Font Awesome &ndash;&gt;-->
<!--<link rel="stylesheet" th:href="@{/dist/third/font-awesome.min.css}"/>-->
<!--&lt;!&ndash; Ionicons &ndash;&gt;-->
<!--<link rel="stylesheet" th:href="@{/dist/third/ionicons.min.css}"/>-->

<!--&lt;!&ndash; Theme style &ndash;&gt;-->
<!--<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>-->
<!--&lt;!&ndash; AdminLTE Skins. Choose a skin from the css/skins-->
<!--     folder instead of downloading all of them to reduce the load. &ndash;&gt;-->
<!--<link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>-->

<!--&lt;!&ndash; iCheck &ndash;&gt;-->
<!--<link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<![endif]-->
<div id=param th:text="${param.param}" style="display: none;"></div>