<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>주간업무보고</title>
    <div th:replace="headerRGrid"></div>
</head>
<script>
    /****** 주간업무내역 그리드 필드 선언 ******/
    var fields = [
      {fieldName: "proj_no",dataType: "text"},
      {fieldName: "proj_nm",dataType: "text"},
      {fieldName: "title",dataType: "text"},
      {fieldName: "drft_dt",dataType: "datetime",datetimeFormat: "yyyyMMdd"},
      {fieldName: "dytm_strt_dt",dataType: "datetime",datetimeFormat: "yyyyMMdd"},
      {fieldName: "get_week",dataType: "text"},
      {fieldName: "pprr_id",dataType: "text"},
      {fieldName: "pprr_nm",dataType: "text"},
      {fieldName: "rem",dataType: "text"},
      {fieldName: "fin_updr_id",dataType: "text"},
      {fieldName: "fin_updr_nm",dataType: "text"},
      {fieldName: "fin_mdfy_dt",dataType: "text"}
    ];
    /****** 주간업무내역 그리드 컬럼 선언 ******/
    var columns = [
      {name: "proj_no", fieldName: "proj_no", type: "data", width: "90", header: "프로젝트번호",editable: false},
      {name: "proj_nm", fieldName: "proj_nm", type: "data", width: "150", header: "프로젝트 명", editable: false},
      {name: "title", fieldName: "title", maxLength: 200, type: "data", width: "300", header: "제목",styleName:"left-column rg_link", editable: false},
      {name: "dytm_strt_dt", fieldName: "dytm_strt_dt", maxLength: 8, width: "100", header: "주간시작날짜(월)",editable: false,

          datetimeFormat: "yyyy-MM-dd"
    	},
      {name: "get_week", fieldName: "get_week", type: "data", width: "150", header: "주차", editable: false},
        {name: "drft_dt", fieldName: "drft_dt", maxLength: 8, width: "100", header: "기안날짜",editable: false,

            datetimeFormat: "yyyy-MM-dd"
        },
      {name: "pprr_id", fieldName: "pprr_id", type: "data", width: "80", header: "작성자ID", editable: false},
      {name: "pprr_nm", fieldName: "pprr_nm", type: "data", width: "80", header: "작성자", editable: false},
      {name: "rem", fieldName: "rem", type: "data", width: "150", header: "비고" ,styleName:"left-column", editable: false},
      {name: "fin_updr_id", fieldName: "fin_updr_id", type: "data", width: "80", header: "수정자ID", editable: false, visible: false },
      {name: "fin_updr_nm", fieldName: "fin_updr_nm", type: "data", width: "80", header: "수정자", editable: false },
      {name: "fin_mdfy_dt", fieldName: "fin_mdfy_dt", type: "data", width: "180", header: "수정일시", editable: false }
    ];

    /****** 전역변수 선언 ******/
    var grid;
    var app;
    var setToday = getdate();
    var date = new Date();

    var strt_yyyy = setToday.substr(0,4);
    var strt_mm = setToday.substr(5,2) -1 ;
    var strt_dd = setToday.substr(8,2);

    var st_dt = date.getFullYear()+'-'+date.getMonth()+'-'+date.getDate();

    /****** 폼 로딩함수 ******/
    $(document.body).ready(function(){
        /****** Vue 선언 ******/
        app = new Vue({
            el:'#form',
            data:{
                keys:{
                	proj_no:'',
                    title:'',
                    strt_dt:st_dt,
                    fnh_dt:setToday,
                    pagenum:1, 		// 현재 페이지 번호 (★변수명 변경금지, 최초 값 1로 세팅)
                    pagerows:50, 	// 페이지당 표시할 데이터 건수 (★변수명 변경금지)
                    pagecnt:10, 		// 표시할 페이지 번호 수 (★변수명 변경금지)
                    afno:'',
                    proj_yn:'',
                },
                projUrl:'selectProjList',
                methods:{
                }
            },
        });

        /****** 주간업무보고  조회 버튼 이벤트 ******/
        $("#goSelect").click(function(){
        	if($('#proj_no').val() == null || $('#proj_no').val() == ''){

        		fn_alert("프로젝트를 선택하세요.");
        		return;
        	}
        	
        	app.keys.pagenum = 1; // 조회버튼 클릭시 현재페이지 1로 초기화

        	search();
        });

        /****** 주간업무보고 추가 버튼 이벤트 ******/
        $("#goAdd").click(function(){
        	if(app.keys.proj_no != ''){
        	    popup_open(app.keys.proj_no,app.keys.proj_nm,null);
        	}else{
        	    popup_open(null,null,null);
        	}
        });

         /****** 주간업무보고 삭제 버튼 이벤트 ******/
        $("#goDelete").click(function(){
            maintList('delete');
        });
        $("#goExcel").click(function(){
        	grid.gridView.exportGrid({
			    type: "excel",
			    target: "local",
			    fileName: "주간업무보고.xlsx",
			    showProgress: true,
			    progressMessage: "엑셀 Export중입니다.",
			    indicator: 'visible',
			    header: 'visible',
			    footer: 'visible',
			    compatibility: true,
			    done: function () {  //내보내기 완료 후 실행되는 함수
			        // alert("done excel export")
			    }
			});
        });


        /****** 조회조건 프로젝트명 클릭 이벤트
		$("#proj_nm").click(function(){
          $("#modal_pop").show();
          projSearch();
          setResizeHeightObjs("realgrid2");
          grid.gridView.refresh();
        });******/

        /****** 그리드 생성 ******/
        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
        }
        createRGrid(grid);

        setResizeHeightObjs("realgrid");
        grid.gridView.refresh();

       /****** 그리드 더블클릭 이벤트 ******/
        //grid.gridView.onCellDblClicked = function (g, clickData) {
        grid.gridView.onCellClicked = function (g, clickData) {
             /****** 팝업창 열 때 파라미터 값 만들기 ******/
             var PROJ_NO = grid.gridView.getValue(clickData.itemIndex,"proj_no");
             var PROJ_NM = grid.dataProvider.getValue(clickData.itemIndex,"proj_nm");
             var date = grid.dataProvider.getValue(clickData.itemIndex,"dytm_strt_dt");

             /****** 날짜형식으로 변경(그리드에서 값 추출 시 날짜형식(YYYY-MM-DD)으로 변경) ******/
             var yyyy = date.getFullYear();
             var mm = date.getMonth()+1;
             var mm2 = mm.toString();
                 if( mm2.length < 2 ){
                    mm2 = '0'+mm;
                 }
             var dd = date.getDate();
             var dd2 = dd.toString();
                 if( dd2.length < 2 ){
                    dd2 = '0'+dd2;
                 }

             var DY_STRT_DT = date.getFullYear()+'-'+mm2+'-'+dd2;

            /****** 제목컬럼 더블클릭하면 팝업창 오픈 ******/
            if(clickData.column == 'title'){
                popup_open(PROJ_NO,PROJ_NM,DY_STRT_DT);
            }
        };

    });

    /****** 팝업창 열기 기능(파라미터 : 프로젝트번호, 주간시작날짜) ******/
    function popup_open(PROJ_NO,PROJ_NM,DY_STRT_DT){
        app.keys.proj_no = PROJ_NO;
        app.keys.proj_nm = PROJ_NM;
        if(PROJ_NO != null){
            app.keys.proj_yn = 'Y';
        }else{
            app.keys.proj_yn = 'N';
        }
        app.keys.dy_strt_dt = DY_STRT_DT;

        var jsonData = {
            url:'/service/pms/dytmAffrRptPopup/selectForm.do',
            name:'dytmAffrRptPopup',
            map : app.keys,
        };
        fn_popup_open(jsonData);
    }

    /****** 주간업무내역 조회 기능******/
    function search(){
    	grid.dataProvider.clearRows();

        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select","/service/pms/dytmAffrRpt/selectList.do/selectList",jsonData,fn_callback);
    }

    /****** 삭제 및 저장 기능 ******/
    function maintList(func,key){
        grid.gridView.commit(true);

        var searchParam = {};
        searchParam.func = func;

        var list = getCheckedRows(grid);

        if(list.length < 1){
          fn_alert("자료를 선택하세요.");
          return;
        }

        if(list.length >0){
            var listData = {
                  list: list,
            };
            fn_transaction(func,"/service/pms/dytmAffrRpt/maintList.do/"+func+"List",listData,fn_callback);
        }
        return;
    }

    /****** callback 문 ******/
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
             if(func == "select"){
            	grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();
                
                if(data.resultList.length > 0) commonPaging(app, data.resultList[0].tcnt, search);
            }else if(func == "maint"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 저장되었습니다.');
            }else if(func == "delete"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 삭제되었습니다.');
            }else{
                grid.gridView.refresh();
                fn_alert(data.message);
            }
        }
    }



    $(window).resize(function(){
        //grid.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">주간업무보고</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <caption>주간업무보고</caption>
            <colgroup>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:150px;"/>
                <col style="width:300px;"/>
                <col style="width:*;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="ar">프로젝트 명</td>
                <td>
                    <!--<select name="proj_no" id="proj_no" class="ui_sel w100p" v-model="keys.proj_no"></select>-->
                    <!--<input id="proj_nm" type="text" class="input_A w90p"  v-model="keys.proj_nm">-->
                    <select2 id="proj_no" class="form-control" v-model="keys.proj_no" :url="projUrl" :para="keys" style="width:300px"></select2>
                </td>
                <td class="ar">제목</td>
                <td>
                    <input id="title" type="text" class="input_A w90p"  v-model="keys.title">
                </td>
                <td class="ar">기안날짜</td>
                <td>
                    <datepicker id="strt_dt" class="input_A w45p" v-model="keys.strt_dt" placeholder="____-__-__"></datepicker>
                    ~
                    <datepicker id="fnh_dt" class="input_A w45p" v-model="keys.fnh_dt"></datepicker>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goAdd" class="btn_typeA btn_save">추가</div>
        <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
        <div id="goExcel" class="btn_typeA btn_excel">Excel</div>
        <!--<div id="goSave" class="btn_typeA btn_save">저장</div>-->
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div id="realgrid"  ></div>
        <div id="commonPaging" class="commonPaging" ></div>
    </div>
</div>
</body>
</html>