<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>주간업무보고 등록</title>
    <div th:replace="headerRGrid"></div>
</head>
<style>
/* 테이블 셀 높이*/
.ACell {width:40px;height:10px;background:#BDBDBD;}
.BCell {width:100px;height:50px;font-size:15px;}
.CCell {width:100px;height:10px;background:#BDBDBD;}
.textarea { height:400px; width:98%; !important; }
.parent { width: 100%;}
.first {float: left;width:30%;box-sizing: border-box;}
.Sub_Title{ font-size:25px; color:#474e61; font-weight:500; letter-spacing:-0.5px;}
</style>
<script th:inline="javascript">
    // 위험,이슈 grid 정보

    var fields = [
      {fieldName: "rkis_no",dataType: "text"},
      {fieldName: "scn",dataType: "text"},
      {fieldName: "proj_no",dataType: "text"},
      {fieldName: "acdn_title",dataType: "text"},
      {fieldName: "pgs_st",dataType: "text"},
      {fieldName: "chk",dataType: "text"},
    ];

    var columns = [
      {name: "rkis_no", fieldName: "rkis_no", type: "data", width: "80", header: "관리대장번호", visible: false },
      {name: "scn", fieldName: "scn", type: "data", width: "80", header: "구분", editable: false },
      {name: "proj_no", fieldName: "proj_no", type: "data", width: "100", header: "프로젝트 번호", editable: false },
      {name: "acdn_title", fieldName: "acdn_title", type: "data", width: "450", styleName:"left-column", header: "사건명", editable: false },
      {name: "pgs_st", fieldName: "pgs_st", type: "data", width: "100", header: "진행상황", editable: false },
      {name: "chk", fieldName: "chk", type: "data", width: "100", header: "chk", editable: false, visible: false },

    ];
     var grid;
     var app;


     var setToday = getdate();

    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                projList:[],
                keys:{      // 주간업무column
                    affr_no: '',
                    proj_no: '',
                    proj_nm: '',
                    title: '',
                    writer: '',
                    wr_dt: '',
                    st_dt: '',
                    fn_dt: '',
                    twk_ars: '',
                    nxw_pln: '',
                    twk_pln_rate: '',
                    twk_ars_rate: '',
                    acum_pln_rate: '',
                    acum_ars_rate: '',
                    rem: '',
                    filno:'',
                    fil_nm:'',
                },
                keys2:{     // 위험 및 이슈사항 column
                   rkis_no: '',
                   scn: '',
                   acdn_title: '',
                   pgs_st: '',
                   pagenum:1, 		// 현재 페이지 번호 (★변수명 변경금지, 최초 값 1로 세팅)
                   pagerows:5, 	// 페이지당 표시할 데이터 건수 (★변수명 변경금지)
                   pagecnt:10 		// 표시할 페이지 번호 수 (★변수명 변경금지)
                },
                projUrl:'selectProjList',
                methods:{
                }
            },
        });
        $("#goSave").click(function(){
             if(app.keys.affr_no == ""){ // 문서번호가 있는지 없는지 구분 insert, update 구분하기 위해
                //console.log("affr_no is Null");
                //console.log("console:"+app.keys.affr_no);
                maintOne('insert');
             }else{
                //console.log("affr_no is Not Null");
                //console.log("affr_no:::"+app.keys.affr_no);
                maintOne('update');

             }
        });

        $("#popClose").click(function(){
             close();
        });


        // 위험,이슈사항 추가기능
        $("#goSelect").click(function(){
             if($('#proj_no').val() == null || $('#proj_no').val() == ''){
        		fn_alert("프로젝트를 선택해주세요.");
        		return;
        	}
             IssueSearch();
        });

        // 그리드 생성
        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            pagenum:1, // 현재 페이지 번호
            pagerows:5, // 페이지당 표시할 데이터 건수
            pageDiv:"#commonPaging"
        }
        createRGrid(grid);
        grid.gridView.displayOptions.fitStyle = "even";
        grid.gridView.setCheckBar({ visible: true });

        // 파라미터값 가져옴
        var para = getCommonPara();

        if(para.param.afno != null){ // 문서번호로 조회 후 값 세팅
            app.keys.affr_no = para.param.afno;
            //console.log("affr_no:::"+app.keys.affr_no);
            console.log("Not Null");
            if(app.keys.affr_no != null){
                AFFR_search("select");
            }
        }else{ // 문서번호가 없으면 기본값 세팅
            console.log("NULL");

            var user = document.getElementById("user").textContent;
            //console.log(user);

            app.keys.writer = user;
            app.keys.wr_dt = setToday;
            app.keys.st_dt = setToday;
            app.keys.fn_dt = setToday;
        }
        $("#proj_no").click(function(){
             console.log("click");
        });
        /*
        if(para.param.proj_no != ""){
            app.keys.proj_no = para.param.proj_no;
        }
        $("#proj_no").val(function(){
            console.log("proj_no:::"+para.param.proj_no);
            app.keys.proj_no = para.param.proj_no;
        });
        $("#proj_no").val(para.param.proj_no);
        */
    });

    function IssueSearch(){ // 전체조회
        grid.dataProvider.clearRows();
        app.keys2.pagenum = 1;

        var jsonData = {
                proj_no: app.keys.proj_no,
                affr_no: app.keys.affr_no,
                map: app.keys2,
        };

        fn_transaction("IssueSearch","/service/pms/pms03_popup/selectList.do/IssueSearch",jsonData,fn_callback);
    };

    // 저장된 위험,이슈리스트 조회(자동) *주간업무를 수정 시 조회
    function IssueListSearch(){
        grid.dataProvider.clearRows();
        //app.keys2.pagenum = grid.pagenum;
        app.keys2.pagenum = 1;

        var jsonData = {
                affr_no : app.keys.affr_no,
                map : app.keys2,

        };

        fn_transaction("IssueSearch","/service/pms/pms03_popup/selectList.do/IssueList",jsonData,fn_callback);
    };

    function AFFR_search(func){ // 주간업무일지를 수정 시 문서번호로 조회
        app.keys.pagenum = 0;
        var jsonData = {
                map: app.keys,

        };
         fn_transaction(func,"/service/pms/pms03_popup/selectList.do/selectOne",jsonData,fn_callback);
    }

    function maintOne(func,key){ //insert, update 문

        var searchParam = {};
        searchParam.func = func;
        var list = getCheckedRows(grid);
        var rkis_no = '';

        var projno = app.keys.proj_no;
        var title = app.keys.title;
        if(projno == '' || projno == null || projno == undefined){
          fn_alert('프로젝트 번호를 입력해주세요.');
        }else if(title == '' || title == null || title == undefined){
          fn_alert('제목을 입력해주세요.');
        }else{
            for(var v in list){
                rkis_no += list[v].rkis_no+",";
            }
            console.log(rkis_no);


            var jsonData = {
                      map: app.keys,
                      rkis_no: rkis_no,
            };
            fn_transaction(func,"/service/pms/pms03_popup/maintOne.do/"+func+"List",jsonData,fn_callback);
            return;
        }

    }
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
             if(func == "select"){
                app.keys.proj_no = data.resultList[0].proj_no;
                app.keys.proj_nm = data.resultList[0].proj_nm;
                app.keys.title = data.resultList[0].title;
                app.keys.wr_dt = data.resultList[0].wr_dt;
                app.keys.st_dt = data.resultList[0].st_dt;
                app.keys.fn_dt = data.resultList[0].fn_dt;
                app.keys.writer = data.resultList[0].writer;
                app.keys.nxw_pln = data.resultList[0].nxw_pln;
                app.keys.twk_ars = data.resultList[0].twk_ars;
                app.keys.twk_pln_rate = data.resultList[0].twk_pln_rate;
                app.keys.twk_ars_rate = data.resultList[0].twk_ars_rate;
                app.keys.acum_pln_rate = data.resultList[0].acum_pln_rate;
                app.keys.acum_ars_rate = data.resultList[0].acum_ars_rate;
                app.keys.filno = data.resultList[0].attc_filno;
                app.keys.rem = data.resultList[0].rem;
                $('#file-upload-name').text(data.resultList[0].fil_nm);
                console.log(app.keys);
                IssueListSearch();
            }else if(func == "IssueSearch"){
                console.log('IssueSearch');
                console.log(data.resultList);
                grid.dataProvider.setRows(data.resultList);
                for(var i = 0;i<grid.dataProvider.getRowCount();i++)    {
                    var chk = grid.gridView.getValue(i,"chk");
                    if(chk=="1"){
                        grid.gridView.checkItem(i);
                    }
                }
                grid.gridView.refresh();
                 commonPaging(grid, data.resultList[0].tcnt, IssueSearch);
                //if(data.resultList.length > 0) commonPaging(grid, data.resultList[0].tcnt, projSearch);
            }else if(func == "IssueList"){
               grid.dataProvider.setRows(data.resultList);
              grid.gridView.refresh();
            }else{
                fn_alert(data.message);
            }
        }
    }

    function fn_filechange(f){
        app.keys.file = $('#file-upload-name').text($('#fileUpload').val());
        fileUpload("maint");
    }

    function fileUpload(func){
        var param = app.keys;

        var formData = new FormData($("#fileuploadForm")[0]);
        formData.append("mapData",JSON.stringify(param));
        console.log(formData);

        $.ajax({
            enctype: 'multipart/form-data',
            type : 'POST',
            url : '/service/commonFile/upload/maintfileUpload.do/' + func + 'List',
            processData : false,
            contentType  : false,
            cache : false,
            data : formData,
            map : param,
            success : function(data) {
                console.log(data.FIL_SN0);
                app.keys.filno = data.FIL_SN0;
               // fn_alert(data.message);
                if(data.error != null){
                    fn_alert(data.error.message);
                }
            },
            error: function(e){
                console.log(e);
                // var rtn = $.parseJSON(e.responseText);
                //fn_alert(rtn.error.message);
            }
        });
    }

    function fn_filecheck(){
        if(app.keys.filno !== null && app.keys.filno !== ""){
            var param = {filNo:app.keys.filno} //app.keys;
            var url = "/service/commonFile/upload/maintfileDownload.do/selectFile";
            param.flid = $('#file-upload-name').text();
            var jsonData = {
                map:param,
            };
            fn_downLoad(url,jsonData,"_self");
            //fn_popup_open
        }else{
            fn_alert("저장된 파일이 없습니다.");
        }


    }

</script>
<body>
<div id="user" th:text="${#authentication.name}" style="display: none;"/>
<div id="form" class="contentPgm">
    <div class="content_title">주간업무보고 등록</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <caption>주간업무보고 등록</caption>
            <colgroup>
                <col style="width:120px;"/>
                <col style="width:200px;"/>
                <col style="width:80px;"/>
                <col style="width:200px;"/>
                <col style="width:100px;"/>
                <col style="width:150px;"/>
                <col style="width:80px;"/>
                <col style="width:300px;"/>
                <col style="width:80px;"/>
                <col style="width:100px;"/>
                <col style="width:*;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="">프로젝트 명</td>
                <td>
                    <!----><select2 id="proj_no" class="form-control" v-model="keys.proj_no" :url="projUrl" :para="keys" style="width:200px"></select2>
                   <!-- <input id="proj_no" type="text" class="input_A w70p" v-model="keys.proj_no">-->
                </td>
                <td class="ar">제목</td>
                <td>
                    <input id="title" type="text" class="input_A w70p" v-model="keys.title">
                </td>
                <td class="ar">기안날짜</td>
                <td>
                    <datepicker id="wr_dt" class="input_A w100p" v-model="keys.wr_dt"></datepicker>
                </td>
                <td class="ar">기간</td>
                <td>
                    <datepicker id="st_dt" class="input_A w45p" v-model="keys.st_dt"></datepicker>
                    ~
                    <datepicker id="fn_dt" class="input_A w45p" v-model="keys.fn_dt"></datepicker>
                </td>
                <td class="ar">작성자</td>
                <td>
                    <input id="writer" type="text" class="input_A w90p" v-model="keys.writer" readonly>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="parent Sub_Title">
        <div class="first " >주간업무</div>
        <div id="popClose" class="btn_typeA  btn_close" style="float:right;margin-top: 5px;">Close</div>
        <div id="goSave" class="btn_typeA  btn_save" style="float:right; margin-top: 5px; margin-right: 5px;">저장</div>
    </div>
    <div class="gap5"></div>
    <div class="box_Atype">
        <form id="fileuploadForm" name="fileuploadForm" method="POST">
            <table class="tbl_base" border="1">
                <tr>
                    <th colspan="8" style="height:40px;background-color:#BDBDBD;">금주실적</th>
                    <th colspan="2" style="height:40px;background-color:#BDBDBD;">차주계획</th>
                </tr>
                <tr>
                    <td colspan="8" style="padding:5px;">
                        <textarea id="twk_ars" type="text" class="textarea" v-model.trim="keys.twk_ars" style="resize: none;" ></textarea>
                    </td>

                    <td colspan="2" style="padding:5px;">
                        <textarea id="nxw_pln" type="text" class="textarea" v-model.trim="keys.nxw_pln" style="resize: none;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="CCell" colspan="8">진척률</th>
                    <th class="ACell" rowspan="3">비고</th>
                    <td rowspan="3" width="800px"><textarea id="rem" type="text" v-model.trim="keys.rem" style="width:98%;height:110px;font-size:15px; resize: none;"></textarea></td>
                </tr>
                <tr>
                    <th class="CCell">금주계획</th>
                    <td><input id="twk_pln_rate" type="text" class="input_A BCell" v-model="keys.twk_pln_rate"></td>
                    <th class="CCell">금주실적</th>
                    <td><input id="twk_ars_rate" type="text" class="input_A BCell" v-model="keys.twk_ars_rate"></td>
                    <th class="CCell">누적계획</th>
                    <td><input id="acum_pln_rate" type="text" class="input_A BCell" v-model="keys.acum_pln_rate"></td>
                    <th class="CCell">누적실적</th>
                    <td><input id="acum_ars_rate" type="text" class="input_A BCell" v-model="keys.acum_ars_rate"></td>
                </tr>
                <tr>
                    <th class="ACell">첨부파일</th>
                    <td colspan="3">
                        <span class="txt-file" id="file-upload-name"></span>
                        <!--<input type="file" id="file_sn" name="file_sn" multiple v-model="keys.file_sn">-->
                    </td>
                    <td colspan="2">
                            <span class="btn btn_primary btn-file">
                                <input name="fileUpload" id="fileUpload" type="file" onchange="fn_filechange(this)">
                            </span>
                    </td>
                    <td colspan="2">
                            <span class="btn btn-primary btn-file">
                                <div name="fileDown" class="btn_typeA btn_save" id="fileDown" onclick="fn_filecheck('filecheck')"> 다운로드</div>
                            </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="gap5"></div>

    <div class="parent">
        <div class="first Sub_Title">위험 및 이슈현황</div>
        <div id="goSelect" class="btn_typeA btn_search"style="float:right;">전체조회</div>
    </div>
    <div class="gap5"></div>
    <!-- realgrid  -->
    <div style="width:100%; height:auto; overflow: hidden;">
        <div id="realgrid" style="height:200px"></div>
        <div id="commonPaging" class="commonPaging" ></div>
    </div>
    <div class="gap10"></div>
</div>

</body>
</html>