<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>위험 및 이슈 관리대장</title>
    <div th:replace="headerRGrid"></div>
</head>
<script>
    var fields = [
      {fieldName: "rkis_no",dataType: "text"},
      {fieldName: "scn",dataType: "text"},
      {fieldName: "scn_nm",dataType: "text"},
      {fieldName: "rsk_isu_id",dataType: "text"},
      {fieldName: "proj_no",dataType: "text"},
      {fieldName: "prry_rnkg",dataType: "text"},
      {fieldName: "area",dataType: "text"},
      {fieldName: "dcrm_lev",dataType: "text"},
      {fieldName: "acdn_title",dataType: "text"},
      {fieldName: "pgs_st",dataType: "text"},
      {fieldName: "cre_user_id",dataType: "text"},
      {fieldName: "cre_user_nm",dataType: "text"},
      {fieldName: "cre_dtm",dataType: "text"}
    ];

    var columns = [
      {name: "rkis_no", fieldName: "rkis_no", type: "data", width: "80", header: "관리대장번호", visible: false },
      {name: "scn", fieldName: "scn", type: "data", width: "80", header: "구분ID", visible: false },
      {name: "scn_nm", fieldName: "scn_nm", type: "data", width: "80", header: "구분", editable: false },
      {name: "rsk_isu_id", fieldName: "rsk_isu_id", type: "data", width: "120", header: "위험·이슈ID", editable: false },
      {name: "proj_no", fieldName: "proj_no", type: "data", width: "100", header: "프로젝트 번호", editable: false },
      {name: "prry_rnkg", fieldName: "prry_rnkg", type: "data", width: "80", header: "우선순위", editable: false },
      {name: "area", fieldName: "area", type: "data", width: "80", header: "영역", editable: false },
      {name: "dcrm_lev", fieldName: "dcrm_lev", type: "data", width: "80", header: "식별단계", editable: false },
      {name: "acdn_title", fieldName: "acdn_title", type: "data", width: "450", styleName:"left-column", header: "사건명", editable: false },
      {name: "pgs_st", fieldName: "pgs_st", type: "data", width: "100", header: "진행상황", editable: false },
      {name: "cre_user_id", fieldName: "cre_user_id", type: "data", width: "100", header: "등록자ID", visible: false },
      {name: "cre_user_nm", fieldName: "cre_user_nm", type: "data", width: "100", header: "등록자", editable: false },
      {name: "cre_dtm", fieldName: "cre_dtm", type: "data", width: "150", header: "등록일자", editable: false }
    ];

    var grid;
    var app;
    var today = new Date();
    var st = today.getFullYear()+'-'+('0'+(today.getMonth()+1)).slice(-2)+'-01';
    var fn = today.getFullYear()+'-'+('0'+(today.getMonth()+1)).slice(-2)+'-'+('0'+(today.getDate())).slice(-2);
    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                scnList:[], areaList:[], rnkgList:[], levList:[], pgsStList:[],
                keys:{
                    scn: '',
                    area: '',
                    prry_rnkg: '01',
                    dcrm_lev: '',
                    pgs_st: '',
                    date1: '',
                    date2: fn
                },
                methods:{
                }
            },
        });

        $("#goSelect").click(function(){
        	app.keys.pagenum = 1; // 조회버튼 클릭시 현재페이지 1로 초기화
        	search();
        });

        $("#goRskAdd").click(function(){
            goRskAdd();
        });
        $("#goIsuAdd").click(function(){
            goIsuAdd();
        });
        $("#goDelete").click(function(){
            maintList('delete');
        });

        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            pagenum:1, // 현재 페이지 번호
            pagerows:100, // 페이지당 표시할 데이터 건수
        }

        createRGrid(grid);
        grid.gridView.displayOptions.fitStyle = "even";

        // 더블클릭 이벤트
        grid.gridView.onCellDblClicked = function (gridBase, clickData) {
          // console.log(clickData.itemIndex);
          // console.log(clickData.column);
          var scn = grid.dataProvider.getValue(clickData.itemIndex,1);
          var rkisNo = grid.dataProvider.getValue(clickData.itemIndex,0);
          goRskSearch(scn,rkisNo);
        }

        setResizeHeightObjs("realgrid");
        grid.gridView.refresh();

        // 콤보박스 코드 데이터
        fn_codeDataSync({group:"MGMT_SCN"},function(list){
            app.scnList = list;     // 구분(관리구분)
        });
        fn_codeDataSync({group:"PRRY_RNKG"},function(list){
            app.rnkgList = list;    // 우선순위
        });
        fn_codeDataSync({group:"AREA"},function(list){
            app.areaList = list;    // 영역
        });
        fn_codeDataSync({group:"DCRM_LEV"},function(list){
            app.levList = list;     // 식별단계
        });
        fn_codeDataSync({group:"PGS_ST"},function(list){
            app.pgsStList = list;  // 진행상황
        });

        search();
    });
    /**** 위험추가 팝업 ****/
    function goRskAdd(){
        var arg = {
            map: { popName:"add", },
            url: "/service/pms/pms05RiskPop/selectForm.do",
            callBack: fn_callback_popup
        };
        fn_inner_popup_open(arg);
    }
    /**** 이슈추가 팝업 ****/
    function goIsuAdd(){
        var arg = {
            map: { popName:"add", },
            url: "/service/pms/pms05IsuPop/selectForm.do",
            callBack: fn_callback_popup
        };
        fn_inner_popup_open(arg);
    }
    /**** 위험,이슈조회 팝업 ****/
    function goRskSearch(scn,key){
        if(scn == 'R'){
            var url    = "/service/pms/pms05RiskPop/selectForm.do";
        }else if(scn == 'I'){
            var url    = "/service/pms/pms05IsuPop/selectForm.do";
        }else{
            fn_alert('오류가 발생하였습니다.');
        }

        var arg = {
            map: { popName: 'search', rkisNo: key },
            url: "/service/pms/pms05RiskPop/selectForm.do",
            callBack: fn_callback_popup
        };
        fn_inner_popup_open(arg);
    }

    function fn_popup(){
        var arg = {
            popName: 'add',
            url: "/service/pms/pms05RiskPop/selectForm.do",
            callBack: fn_callback_popup
        }
        fn_inner_popup_open(arg);
    }

    function search(){
        grid.dataProvider.clearRows();
        app.keys.pagenum = grid.pagenum;

        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select","/service/pms/pms05/selectList.do/selectList",jsonData,fn_callback);
    }
    // 확인창(수정필요)
    async function fn_update(){
        var rtn = await fn_confirm("진행하시겠습니까?");
        //console.log(rtn);
        //fn_alert(rtn);
    }
    function maintList(func,key){
        grid.gridView.commit(true);

        var searchParam = {};
        searchParam.func = func;

        var list = getCheckedRows(grid);

        if(list.length < 1){
            fn_alert("자료를 선택하세요.");
            return;
        }
        if(list.length >0){
            var listData = {
                  list: list,
            };
            fn_transaction(func,"/service/pms/pms05/maintList.do/"+func+"List",listData,fn_callback);
        }
        return;
    }

    /**** inner popup 콜백 ****/
    function fn_callback_popup(arg){
        console.log(arg);
        //app.keys.domn_nm = arg.domn_nm;
    }

    /**** 콜백 ****/
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
             if(func == "select"){
                grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();

                if(data.resultList.length > 0) commonPaging(grid, data.resultList[0].tcnt, search);
            }else if(func == "maint"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 저장되었습니다.');
            }else if(func == "delete"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 삭제되었습니다.');
            }else{
                grid.gridView.refresh();
                fn_alert(data.message);
            }
        }
    }

    $(window).resize(function(){
        grid.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">위험 및 이슈 관리대장</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <caption>위험 및 이슈 관리대장</caption>
            <colgroup>
                <col style="width:120px;"/>
                <col style="width:150px;"/>
                <col style="width:180px;"/>
                <col style="width:250px;"/>
                <col style="width:120px;"/>
                <col style="width:150px;"/>
                <col style="width:120px;"/>
                <col style="width:300px;"/>
                <col style="width:*;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="ar">구분</td>
                <td>
                    <select name="scn" id="scn" class="ui_sel w90p" v-model="keys.scn">
                        <option value="">전체</option>
                        <option v-for="list in scnList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">프로젝트 번호</td>
                <td>
                    <input id="proj_no" type="text" class="input_A w90p" placeholder="번호 입력"  v-model="keys.proj_no">
                </td>
                <td class="ar">우선순위</td>
                <td>
                    <select name="prry_rnkg" id="prry_rnkg" class="ui_sel w90p" v-model="keys.prry_rnkg">
                        <option value="">전체</option>
                        <option v-for="list in rnkgList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">영역</td>
                <td>
                    <select name="area" id="area" class="ui_sel w45p" v-model="keys.area">
                        <option value="">전체</option>
                        <option v-for="list in areaList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="ar">식별단계</td>
                <td>
                    <select name="dcrm_lev" id="dcrm_lev" class="ui_sel w90p" v-model="keys.dcrm_lev">
                        <option value="">전체</option>
                        <option v-for="list in levList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">위험·이슈ID</td>
                <td>
                    <input id="rsk_isu_id" type="text" class="input_A w90p" placeholder="ID 입력" v-model="keys.rsk_isu_id">
                </td>
                <td class="ar">진행상황</td>
                <td>
                    <select name="pgs_st" id="pgs_st" class="ui_sel w90p" v-model="keys.pgs_st">
                        <option value="">전체</option>
                        <option v-for="list in pgsStList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">등록일자</td>
                <td>
                    <datepicker id="date1" class="input_A w45p" placeholder="____-__-__" v-model="keys.date1"></datepicker> ~
                    <datepicker id="date2" class="input_A w45p" placeholder="____-__-__" v-model="keys.date2"></datepicker>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goRskAdd" class="btn_typeA btn_save">위험추가</div>
        <div id="goIsuAdd" class="btn_typeA btn_save">이슈추가</div>
        <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div id="realgrid"  ></div>
        <div id="commonPaging" class="commonPaging" ></div>
    </div>
</div>
</body>
</html>