<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>위험관리대장</title>
  <div th:replace="headerRGrid"></div>
</head>
<script>
    /**** 리얼그리드 필드 선언 ****/
    var fields = [
      {fieldName: "proj_no",dataType: "text"},
      {fieldName: "proj_nm",dataType: "text"},
      {fieldName: "st_dt",dataType: "datetime",datetimeFormat: "yyyyMMdd"},
      {fieldName: "fn_dt",dataType: "datetime",datetimeFormat: "yyyyMMdd"},
      {fieldName: "client",dataType: "text"}
    ];

    /**** 리얼그리드 컬럼 선언 ****/
    var columns = [
      {name: "proj_no", fieldName: "proj_no", type: "data", width: "100", header: "프로젝트번호", editable: false },
      {name: "proj_nm", fieldName: "proj_nm", type: "data", width: "150", header: "프로젝트명" ,styleName:"left-column", editable: false },
      {name: "st_dt", fieldName: "st_dt", maxLength: 8, width: "100", header: "시작일", editable: false, datetimeFormat: "yyyy-MM-dd" },
      {name: "fn_dt", fieldName: "fn_dt", maxLength: 8, width: "100", header: "종료일", editable: false, datetimeFormat: "yyyy-MM-dd" },
      {name: "client", fieldName: "client", type: "data", width: "150", header: "발주처", styleName:"left-column", editable: false}
    ];

    /**** 변수 선언 ****/
    var grid;
    var app;
    var para = getCommonPara();
    var today = new Date();
    var setToday = today.getFullYear()+'-'+('0'+(today.getMonth()+1)).slice(-2)+'-'+('0'+(today.getDate())).slice(-2);

    $(document.body).ready(function(){
        /**** Vue 선언 ****/
        app = new Vue({
            el:'#form',
            data:{
                // 콤보 리스트
                areaList:[], rnkgList:[], levList:[], pgsStList:[], mgmtGrdList:[],
                // 상단 요소
                top:{
                  title: '',
                  pop_name: para.popName
                },
                // 작성란 key
                keys:{
                    rkis_no: '',
                    scn: '위험',
                    proj_no: '',
                    rsk_id: '',
                    area: '',
                    dcrm_lev: '',
                    prry_rnkg: '01',
                    occu_prob: '',
                    iflu_deg: '',
                    rsk_deg: '',
                    cre_user_id: '',
                    acdn_title: '',
                    acdn_sbc: '',
                    crgr: '',
                    pvnt_pln: '',
                    pgs_st: 'O',
                    trtm_manh: '',
                    dcrm_dt: setToday,
                    cre_dtm: setToday,
                    parr_dt: setToday,
                    trtm_dt: ''
                },
                // 프로젝트 번호 조회 key
                keys2:{
                  p_no: '',
                  p_nm: ''
                },
                methods:{
                }
            },
        });

        /**** 조회,수정 화면 전환 ****/
        if(app.top.pop_name != 'add'){
          app.top.title = '위험상세 조회';
        }else{
          app.top.title = '위험상세 작성';
        }

        /**** 클릭 이벤트 ****/
        //조회
        $("#goSelect").click(function(){
        	search();
        });
        //수정
        $("#goModify").click(function(){
            app.top.pop_name = 'add';
        });
        //저장
        $("#goSave").click(function(){
            maintOne('maint');
        });
        //삭제
        $("#goDelete").click(function(){
            maintOne('delete');
        });
        //팝업창 Close
        $("#popClose").click(function(){
            close();
        });
        //프로젝트 번호 입력버튼
        $("#proj_no").click(function(){
          $("#modal_pop").show();
          projSearch();
          setResizeHeightObjs("realgrid");
          grid.gridView.refresh();
        });
        //모달:프로젝트 번호 조회 버튼
        $("#modalSelect").click(function(){
          projSearch();
        });
        //모달창 Close
        $("#modalClose").click(function(){
          $("#modal_pop").hide();
        });

        /**** 콤보박스 코드 데이터 ****/
        //우선순위
        fn_codeDataSync({group:"PRRY_RNKG"},function(list){
            app.rnkgList = list;
        });
        // 영역
        fn_codeDataSync({group:"AREA"},function(list){
            app.areaList = list;
        });
        // 식별단계
        fn_codeDataSync({group:"DCRM_LEV"},function(list){
            app.levList = list;
        });
        // 진행상황
        fn_codeDataSync({group:"PGS_ST"},function(list){
            app.pgsStList = list;
        });
        // 관리등급
        fn_codeDataSync({group:"MGMT_GRD"},function(list){
            app.mgmtGrdList = list;
        });

        /**** 그리드 생성 ****/
        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            pagenum:1, // 현재 페이지 번호
            pagerows:50, // 페이지당 표시할 데이터 건수
        }

        createRGrid(grid);
        // 그리드 레이아웃 속성
        grid.gridView.displayOptions.fitStyle = "even"; //컬럼 자동 폭맞춤
        grid.gridView.setCheckBar({ visible: false });  //체크바 비활성화

        /**** ROW 더블클릭 이벤트 ****/
        grid.gridView.onCellDblClicked = function (gridBase, clickData) {
          // console.log(clickData.itemIndex);
          // console.log(clickData.column);
          app.keys.proj_no = grid.dataProvider.getValue(clickData.itemIndex,0);
          projSearch_off();
        }

        search();
    });

    /**** 작성글 조회 ****/
    function search(){
        var jsonData = { map: para };
        fn_transaction("select","/service/pms/pms05RiskPop/selectList.do/selectList",jsonData,fn_callback);
    }

    /**** 모달:프로젝트 번호 조회 ****/
    function projSearch(){
        grid.dataProvider.clearRows();
        app.keys2.pagenum = grid.pagenum;

        var jsonData = { map: app.keys2 };
        fn_transaction("proj_select","/service/pms/pms05RiskPop/selectList.do/projSelectList",jsonData,fn_callback);
    };

    /**** 모달 팝업 OFF ****/
    function projSearch_off(){
        $("#modal_pop").hide();
    };

    /**** 저장 & 삭제 ****/
    function maintOne(func,key){

        var searchParam = {};
        searchParam.func = func;

        var proj_no = this.proj_no.value;
        var acdnTitle = this.acdn_title.value;
        var acdnSbc = this.acdn_sbc.value;

        if(proj_no == '' || proj_no == null || proj_no == undefined){
          fn_alert('프로젝트 번호를 입력해주세요.');
        }else if(acdnTitle == '' || area == null || area == undefined){
          fn_alert('사건명을 입력해주세요.');
        }else if(acdnSbc == '' || acdnSbc == null || acdnSbc == undefined){
          fn_alert('상세내용을 입력해주세요.');
        }else{
            var jsonData = {
                  map: app.keys,
            };
            fn_transaction(func,"/service/pms/pms05RiskPop/maintOne.do/"+func+"One",jsonData,fn_callback);
            return;
        }
    }

    /**** 콜백 ****/
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
            if(func == "select"){             // 조회 콜백
                app.$set(app.keys, 'rkis_no', data.resultList[0].RKIS_NO);
                app.$set(app.keys, 'proj_no', data.resultList[0].PROJ_NO);
                app.$set(app.keys, 'rsk_id', data.resultList[0].RSK_ID);
                app.$set(app.keys, 'area', data.resultList[0].AREA);
                app.$set(app.keys, 'dcrm_lev', data.resultList[0].DCRM_LEV);
                app.$set(app.keys, 'prry_rnkg', data.resultList[0].PRRY_RNKG);
                app.$set(app.keys, 'occu_prob', data.resultList[0].OCCU_PROB);
                app.$set(app.keys, 'iflu_deg', data.resultList[0].IFLU_DEG);
                app.$set(app.keys, 'rsk_deg', data.resultList[0].RSK_DEG);
                app.$set(app.keys, 'cre_user_id', data.resultList[0].CRE_USER_ID);
                app.$set(app.keys, 'acdn_title', data.resultList[0].ACDN_TITLE);
                app.$set(app.keys, 'acdn_sbc', data.resultList[0].ACDN_SBC);

                app.$set(app.keys, 'crgr', data.resultList[0].CRGR);
                app.$set(app.keys, 'pvnt_pln', data.resultList[0].PVNT_PLN);
                app.$set(app.keys, 'pgs_st', data.resultList[0].PGS_ST);
                app.$set(app.keys, 'trtm_manh', data.resultList[0].TRTM_MANH);
                app.$set(app.keys, 'dcrm_dt', data.resultList[0].DCRM_DT);
                app.$set(app.keys, 'cre_dtm', data.resultList[0].CRE_DTM);
                app.$set(app.keys, 'parr_dt', data.resultList[0].PARR_DT);
                app.$set(app.keys, 'trtm_dt', data.resultList[0].TRTM_DT);

                app.$el.ariaReadOnly;
            }else if(func == "proj_select"){  // 프로젝트번호 조회 콜백
                grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();

              if(data.resultList.length > 0) commonPaging(grid, data.resultList[0].tcnt, projSearch);
            }else if(func == "maint"){        // 저장 콜백
                parent.grid.gridView.refresh();
                fn_alert('정상적으로 저장되었습니다.');
            }else if(func == "delete"){       // 삭제 콜백
            	parent.grid.gridView.refresh();
            	fn_alert('정상적으로 삭제되었습니다.');
            }else{
                fn_alert(data.message);
            }
        }
    }

</script>
<body>
<div id="form" class="contentPgm">
  <div class="content_title">{{ top.title }}</div>
  <!-- Modal 팝업 -->
  <div id="modal_pop" class="modal_wrap">
    <div class="modal_content">
      <div class="ac content_title">프로젝트 번호 조회</div>
      <div class="gap10"></div>
      <div class="box_Atype">
        <table class="tbl_base">
          <caption>프로젝트 번호 조회</caption>
          <colgroup>
            <col style="width:22%;"/>
            <col style="width:25%;"/>
            <col style="width:20%;"/>
            <col style="width:25%;"/>
          </colgroup>
          <tbody>
          <tr>
            <td class="ar f14">프로젝트번호</td>
            <td>
              <input id="p_no" type="text" class="input_Ac w100p" placeholder="번호 입력"  v-model="keys2.p_no">
            </td>
            <td class="ar f14">프로젝트명</td>
            <td>
              <input id="p_nm" type="text" class="input_Ac w100p" placeholder="명칭 입력"  v-model="keys2.p_nm">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="gap5"></div>
      <!-- Modal 버튼 -->
      <div class="ar">
        <div id="modalSelect" class="btn_typeA btn_search">조회</div>
        <div id="modalClose" class="btn_typeA btn_close">Close</div>
      </div>
      <div class="gap10"></div>
      <!-- realgrid  -->
      <div class="realgrid_wrap">
        <div id="realgrid"></div>
        <div id="commonPaging" class="commonPaging" ></div>
      </div>
      <div class="gap10"></div>
    </div>
  </div>
  <!-- 버튼 -->
  <div class="ar btnWrap">
    <template v-if="top.pop_name != 'add'">
      <!-- 조회화면 버튼 -->
      <div id="goSelect" class="btn_typeA btn_search">조회</div>
      <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
      <div id="goModify" class="btn_typeA btn_save">수정</div>
    </template>
    <template v-else>
      <!-- 작성화면 버튼 -->
      <div id="goSave" class="btn_typeA btn_save">저장</div>
    </template>
    <div id="popClose" class="btn_typeA btn_close">Close</div>
  </div>
  <!-- 작성란 -->
  <div class="box_Atype popWrap">
    <div class="gap10"></div>
    <span class="spanT hidden">관리대장번호</span>
    <input id="rkis_no" type="text" class="hidden" v-model="keys.rkis_no" readonly>
    <span class="spanT al w90">구분</span>
    <input id="scn" type="text" class="input_Ac textBar w100" v-model="keys.scn" readonly>
    <span class="spanT al mg10 w90">프로젝트번호</span>
    <input id="proj_no" type="text" class="input_Ac textBar w100" v-model="keys.proj_no" placeholder="번호 입력" readonly>
    <div class="gap5"></div>
    <span class="spanT al w90">위험ID</span>
    <input id="rsk_id" type="text" class="input_Ac textBar w100" v-model="keys.rsk_id" placeholder="자동생성" readonly>
    <span class="spanT al mg10 w90">영역</span>
    <select name="area" id="area" class="ui_selC w100" v-model="keys.area">
      <option value="">선택</option>
      <option v-for="list in areaList" :value="list.value">{{list.text}}</option>
    </select>
    <span class="spanT al mg10 w90">식별단계</span>
    <select name="dcrm_lev" id="dcrm_lev" class="ui_selC w100" v-model="keys.dcrm_lev">
      <option value="">선택</option>
      <option v-for="list in levList" :value="list.value">{{list.text}}</option>
    </select>
    <span class="spanT al mg10 w90">식별일</span>
    <datepicker id="dcrm_dt" class="input_Ac w100" v-model="keys.dcrm_dt"></datepicker>
    <div class="gap20"></div>

    <span class="spanT al w90">우선순위</span>
    <select name="prry_rnkg" id="prry_rnkg" class="ui_selC w100" v-model="keys.prry_rnkg">
      <option value="">선택</option>
      <option v-for="list in rnkgList" :value="list.value">{{list.text}}</option>
    </select>
    <span class="spanT al mg10 w90">발생확률</span>
    <select name="occu_prob" id="occu_prob" class="ui_selC w100" v-model="keys.occu_prob">
      <option value="">선택</option>
      <option v-for="list in mgmtGrdList" :value="list.value">{{list.text}}</option>
    </select>
    <span class="spanT al mg10 w90">영향도</span>
    <select name="iflu_deg" id="iflu_deg" class="ui_selC w100" v-model="keys.iflu_deg">
      <option value="">선택</option>
      <option v-for="list in mgmtGrdList" :value="list.value">{{list.text}}</option>
    </select>
    <span class="spanT al mg10 w90">위험도</span>
    <select name=""rsk_deg id="rsk_deg" class="ui_selC w100" v-model="keys.rsk_deg">
      <option value="">선택</option>
      <option v-for="list in mgmtGrdList" :value="list.value">{{list.text}}</option>
    </select>
    <div class="gap20"></div>

    <span class="spanT al w90">등록자</span>
    <input id="cre_user_id" type="text" class="input_Ac textBar w100" th:value="${#authentication.name}" readonly>
    <span class="spanT al mg10 w90">등록일자</span>
    <input id="cre_dtm" type="text" class="input_Ac textBar w100" v-model="keys.cre_dtm" readonly>
    <div class="gap5"></div>
    <span class="spanT al w90">사건명</span>
    <input id="acdn_title" type="text" class="input_Ac textBar w87p" v-model.trim="keys.acdn_title" placeholder="사건명 입력">
    <div class="gap5"></div>
    <div class="tArea">
      <span class="spanT al w90">상세내용</span>
      <textarea id="acdn_sbc" type="text" class="w87p" v-model.trim="keys.acdn_sbc" placeholder="내용 입력"></textarea>
    </div>
    <div class="gap20"></div>

    <span class="spanT al w90">담당자</span>
    <input id="crgr" type="text" class="input_Ac textBar w100" v-model.trim="keys.crgr" placeholder="담당자 입력">
    <span class="spanT al mg10 w90">예정일</span>
    <datepicker id="parr_dt" class="input_Ac w100" v-model="keys.parr_dt"></datepicker>
    <div class="gap5"></div>
    <div class="tArea">
      <span class="spanT al w90">예방계획</span>
      <textarea id="pvnt_pln" type="text" class="w87p" v-model.trim="keys.pvnt_pln" placeholder="내용 입력"></textarea>
    </div>
    <div class="gap20"></div>

    <span class="spanT al w120">처리확인일자</span>
    <datepicker id="trtm_dt" class="input_Ac w100" v-model="keys.trtm_dt" placeholder="____-__-__"></datepicker>
    <span class="spanT al mg10 w90">진행상황</span>
    <select name="pgs_st" id="pgs_st" class="ui_selC w100" v-model="keys.pgs_st">
      <option v-for="list in pgsStList" :value="list.value">{{list.text}}</option>
    </select>
    <div class="gap5"></div>
    <span class="spanT al w120">처리공수(M/H)</span>
    <input id="trtm_manh" type="number" step="0.1" class="input_Ac textBar w100" placeholder="0" v-model="keys.trtm_manh">
    <div class="gap10"></div>
  </div>
  <div class="gap20"></div>
</div>
</body>
</html>