<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>위험 및 이슈 관리대장</title>
    <div th:replace="headerRGrid"></div>
</head>
<script>
    var fields = [
      {fieldName: "rkisNo",dataType: "text"},
      {fieldName: "acdnTitle",dataType: "text"},
      {fieldName: "scn",dataType: "text"},
      {fieldName: "rskIsuId",dataType: "text"},
      {fieldName: "projNo",dataType: "text"},
      {fieldName: "prryRnkg",dataType: "text"},
      {fieldName: "area",dataType: "text"},
      {fieldName: "dcrmLev",dataType: "text"},
      {fieldName: "pgsSt",dataType: "text"},
      {fieldName: "creUserId",dataType: "text"},
      {fieldName: "creDtm",dataType: "text"}
    ];

    var columns = [
      {name: "rkisNo", fieldName: "rkisNo", type: "data", width: "80", header: "관리대장번호", visible: false },
      {name: "scn", fieldName: "scn", type: "data", width: "80", header: "구분", editable: false },
      {name: "rskIsuId", fieldName: "rskIsuId", type: "data", width: "120", header: "위험·이슈ID", editable: false },
      {name: "projNo", fieldName: "projNo", type: "data", width: "100", header: "프로젝트 번호", editable: false },
      {name: "prryRnkg", fieldName: "prryRnkg", type: "data", width: "80", header: "우선순위", editable: false },
      {name: "area", fieldName: "area", type: "data", width: "80", header: "영역", editable: false },
      {name: "dcrmLev", fieldName: "dcrmLev", type: "data", width: "80", header: "식별단계", editable: false },
      {name: "acdnTitle", fieldName: "acdnTitle", type: "data", width: "500", header: "사건명", editable: false },
      {name: "pgsSt", fieldName: "pgsSt", type: "data", width: "100", header: "진행상황", editable: false },
      {name: "creUserId", fieldName: "creUserId", type: "data", width: "100", header: "등록자", editable: false },
      {name: "creDtm", fieldName: "creDtm", type: "data", width: "100", header: "등록일자", editable: false }
    ];

    var grid;

    var app;
    var today = new Date();
    var ft = today.getFullYear()+'-'+('0'+(today.getMonth()+1)).slice(-2)+'-01';
    var st = today.getFullYear()+'-'+('0'+(today.getMonth()+1)).slice(-2)+'-'+today.getDate();
    $(document.body).ready(function(){
        app = new Vue({
            el:'#form',
            data:{
                scnList:[],
                areaList:[],
                rnkgList:[],
                levList:[],
                pgsStList:[],
                keys:{
                    scn: '',
                    area: '',
                    prryRnkg: '01',
                    dcrmLev: '',
                    pgsSt: '',
                    date1: ft,
                    date2: st
                },
                methods:{
                }
            },
        });

        $("#goSelect").click(function(){
        	app.keys.pagenum = 1; // 조회버튼 클릭시 현재페이지 1로 초기화
        	search();
        });

        $("#goRskAdd").click(function(){
            goRskAdd();
        });
        $("#goIsuAdd").click(function(){
            maintList('maint');
        });
        $("#goDelete").click(function(){
            maintList('delete');
        });

        $("#goExcel").click(function(){
        	grid.gridView.exportGrid({
			    type: "excel",
			    target: "local",
			    fileName: "연차 관리.xlsx",
			    showProgress: true,
			    progressMessage: "엑셀 Export중입니다.",
			    indicator: 'visible',
			    header: 'visible',
			    footer: 'visible',
			    compatibility: true,
			    done: function () {  //내보내기 완료 후 실행되는 함수
			        // alert("done excel export")
			    }
			});
        });

        grid = {
            id:"realgrid",
            fields:fields,
            columns:columns,
            pagenum:1, // 현재 페이지 번호
            pagerows:100, // 페이지당 표시할 데이터 건수
        }

        createRGrid(grid);
        grid.gridView.displayOptions.fitStyle = "even";

        setResizeHeightObjs("realgrid");
        grid.gridView.refresh();

        // 콤보박스 코드 데이터
        fn_codeDataSync({group:"MGMT_SCN"},function(list){
            app.scnList = list;     // 구분(관리구분)
        });
        fn_codeDataSync({group:"PRRY_RNKG"},function(list){
            app.rnkgList = list;    // 우선순위
        });
        fn_codeDataSync({group:"AREA"},function(list){
            app.areaList = list;    // 영역
        });
        fn_codeDataSync({group:"DCRM_LEV"},function(list){
            app.levList = list;     // 식별단계
        });
        fn_codeDataSync({group:"PGS_ST"},function(list){
            app.pgsStList = list;  // 진행상황
        });

        search();
    });
    function goRskAdd(){
        var url    = "/service/pms/pms05RiskPop/selectForm.do";
        var name   = "riskPop";
        var option = "width=980, height=650, top=50, left=200, location=no";
        window.open(url, name, option);
    }
    function search(){
        grid.dataProvider.clearRows();
        app.keys.pagenum = grid.pagenum;

        var jsonData = {
                map: app.keys,
        };

        fn_transaction("select","/service/pms/pms05/selectList.do/selectList",jsonData,fn_callback);
    }
    function maintList(func,key){
        grid.gridView.commit(true);

        var searchParam = {};
        searchParam.func = func;

        var list = getCheckedRows(grid);

        if(list.length < 1){
          fn_alert("자료를 선택하세요.");
          return;
        }

        if(list.length >0){
            var listData = {
                  list: list,
            };
            fn_transaction(func,"/service/pms/pms05/maintList.do/"+func+"List",listData,fn_callback);
        }
        return;
    }
    function fn_callback(func,data,status){
        if(data.error){
            alert(data.error);
        }else{
             if(func == "select"){
                grid.dataProvider.setRows(data.resultList);
                grid.gridView.refresh();

                commonPaging(grid, data.resultList[0].tcnt, search);
            }else if(func == "maint"){
            	 grid.gridView.refresh();
            	 fn_alert('정상적으로 저장되었습니다.');
            }else{
                grid.gridView.refresh();
                fn_alert(data.message);
            }
        }
    }
    $(window).resize(function(){
        grid.gridView.refresh();
    });
</script>
<body>
<div id="form" class="contentPgm">
    <div class="content_title">위험 및 이슈 관리대장</div>
    <div class="box_Atype">
        <table class="tbl_base">
            <caption>위험 및 이슈 관리대장</caption>
            <colgroup>
                <col style="width:50px;"/>
                <col style="width:90px;"/>
                <col style="width:60px;"/>
                <col style="width:100px;"/>
                <col style="width:50px;"/>
                <col style="width:90px;"/>
                <col style="width:50px;"/>
                <col style="width:150px;"/>
            </colgroup>
            <tbody>
            <tr>
                <td class="ar">구분</td>
                <td>
                    <select name="scn" id="scn" class="ui_sel w80p" v-model="keys.scn">
                        <option value="">전체</option>
                        <option v-for="list in scnList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">프로젝트 번호</td>
                <td>
                    <input id="projNo" type="text" class="input_A w80p" placeholder="번호 입력"  v-model="keys.projNo">
                </td>
                <td class="ar">우선순위</td>
                <td>
                    <select name="prryRnkg" id="prryRnkg" class="ui_sel w80p" v-model="keys.prryRnkg">
                        <!--<option value="">전체</option>-->
                        <option v-for="list in rnkgList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">영역</td>
                <td>
                    <select name="area" id="area" class="ui_sel w40p" v-model="keys.area">
                        <option value="">전체</option>
                        <option v-for="list in areaList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="ar">식별단계</td>
                <td>
                    <select name="dcrmLev" id="dcrmLev" class="ui_sel w80p" v-model="keys.dcrmLev">
                        <option value="">전체</option>
                        <option v-for="list in levList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">위험·이슈ID</td>
                <td>
                    <input id="rskIsuid" type="text" class="input_A w80p" placeholder="ID 입력" v-model="keys.rskIsuid">
                </td>
                <td class="ar">진행상황</td>
                <td>
                    <select name="pgsSt" id="pgsSt" class="ui_sel w80p" v-model="keys.pgsSt">
                        <option value="">전체</option>
                        <option v-for="list in pgsStList" :value="list.value">{{list.text}}</option>
                    </select>
                </td>
                <td class="ar">등록일자</td>
                <td>
                    <datepicker id="date1" class="input_A w40p" v-model="keys.date1"></datepicker> ~
                    <datepicker id="date2" class="input_A w40p" v-model="keys.date2"></datepicker>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="gap5"></div>

    <div class="ar">
        <div id="goSelect" class="btn_typeA btn_search">조회</div>
        <div id="goRskAdd" class="btn_typeA btn_save">위험추가</div>
        <div id="goIsuAdd" class="btn_typeA btn_save">이슈추가</div>
        <div id="goDelete" class="btn_typeA btn_delete">삭제</div>
        <div id="goExcel" class="btn_typeA btn_excel">Excel</div>
    </div>
    <div class="gap10"></div>
    <div style="width: 100%;height: auto;overflow: hidden;">
        <div id="realgrid"  ></div>
        <div id="commonPaging" class="commonPaging" ></div>
    </div>
</div>
</body>
</html>